cms-profile-shiftcycle {
  .pt-5 {
    padding-top: 39px !important;
  }
  .app-main-content .app-container .card-content .btn {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 7px;
    padding: 11px 28px 11px;
  }
  .treeview .col-2 {
    padding-top: 20px;
  }
  .e-row :hover {
    cursor: pointer;
  }
}
