@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.core-month-picker-container {
    --bg: white;
    --width: 276px;
    --header-height: 60px;
    --height: calc(var(var(--header-height)) + 39.42px * 7);
    --hover-bg-color: #358ccb;
    --font-bold: 700;
    --font-light: 400;
    --cell-width: calc(var(--width) / 3);
    --cell-height: 50px;

    background-color: var(--bg);
    width: var(--width);
    height: var(--height);

    ul {
        padding: 0;
        margin: 0;
    }

    ul>li {
        display: inline-block;
        width: var(--cell-width);
        cursor: pointer;
    }

    ul>li>div {
        width: var(--cell-width);
        height: var(--cell-height);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    ul>li>div:hover {
        color: white;
        background-color: var(--hover-bg-color);
    }

    ul>li>div.active {
        color: white;
        background-color: cadetblue;
    }

    .tl-month-picker-emitter-header {
        position: relative;
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tl-month-picker-emitter-year {
            cursor: pointer;
            font-weight: var(--font-bold);
        }

        .arrows {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .arrows>div {
            margin: 0px 2px;
        }

        .arrows>div {
            &::before {
                font-family: "feather";
                font-size: var(--arrow-font-size);
                cursor: pointer;
            }
        }

        .arrows>div {
            &:hover::before {
                background-color: var(--hover-bg-color);
            }
        }

        .go-up::before {
            content: "\e914";
        }

        .go-down::before {
            content: "\e90c";
        }

    }

    .zoom-in {
        animation: zoomIn 0.25s ease-in;
    }

    .months-container-wrapper {
        width: var(--width);
        height: calc(var(--height) - var(--header-height));
        overflow: hidden;
    }


}