<div class="core-month-picker-container">
    <div class="tl-month-picker-emitter-header">
        <div class="tl-month-picker-emitter-year" (click)="onYearClickLocal(year)">{{ year }}</div>
        <div class="arrows">
            <div class="go-up" (click)="goUp()"></div>
            <div class="go-down" (click)="goDown()"></div>
        </div>
    </div>
    <div class="months-container-wrapper">
        <div #monthsContainer class="months-container zoom-in">
            <ul *ngFor="let row of months; let rowIndex=index">
                <li *ngFor="let month of row; let subMonthIndex=index" (click)="onClick(rowIndex, subMonthIndex)">
                    <div [class.active]="year === monthObject$.value.year && rowIndex * 3 +  subMonthIndex === monthObject$.value!.monthIndex">
                        {{ month }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>