.core-confirm-dialog-container {
    
    --z-index: 9999999999;

    position: absolute;
    z-index: var(--z-index);
    font-size: 13px;

    .hidden-input{
        display: none;
    }

    .shown{
        display: block;
    }

    .modal-header {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .btn-orange-color{
        background-color: #F37540;
        color:  white;
    }
    .btn-orange-color:hover{
        background-color: #ED5B1D;
        color:  white;
    }

}