<div #container class="core-confirm-dialog-container roboto-font">
    <div class="modal-container" *ngIf="show">
        <div class="modal-content">
            <div class="modal fade show" style="display: block;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <core-page-header [title]="title" [hideButtonGroup]="true"></core-page-header>

                            <button type="button" class="close">
                                <span (click)="close()">×</span>
                            </button>
                        </div>
                        <div class="modal-body">{{ body | translate: lang }}</div>
                        <ul *ngIf="!!informationLines?.length">
                            <li *ngFor="let line of informationLines">
                                {{ line }}
                            </li>
                        </ul>
                        <div class="p15 d-flex d-flex-center">
                            <textarea [(ngModel)]="reason" (ngModelChange)="onReasonEvent($event)" class="form-control hidden-input" [class.shown]="showingUp === true" [rows]="'5'" [ngStyle]="{ height: 'unset' }"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button (click)="onConfirm()" type="button" class="btn btn-secondary" *ngIf="!!!showCancelOnly">{{ okButtonText | translate: lang }}</button>
                            <button (click)="close()" type="button" class="btn btn-orange-color">{{ cancelButtonText | translate: lang }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>