
<section class="form animated flipInX roboto-font" [class.d-none]="!!appInitializationService.initializing$.value">

  <p class="valid">Valid. Please wait a moment.</p>
  <p class="error">Error. Please enter correct Username &amp; password.</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="loginbox" autocomplete="off">
    <img class="logo" src="../../../assets/{{appConfigService.LOGO_LOGIN}}"/>
    <div class="label-grp">
      <span class="feather-user"></span>
      <p>Tên đăng nhập</p>
    </div>
    <input placeholder="Tên đăng nhập" type="text" id="username" formControlName="username"
    >
    <div class="label-grp">
      <span class="feather-lock"></span>
      <p>Mật khẩu</p>
    </div>
    <input placeholder="Mật khẩu" type="password" id="password" formControlName="password"
    >
    <div class="sign-in">
        <div class="remember">
            <label class="container">
                <input type="checkbox" formControlName="remember">
                <span class="checkmark"></span>
                <p>Ghi nhớ tài khoản</p>
            </label>
        </div>
        <!-- <div class="forget" style="width: 50%;">
            <a href="#">Quên mật khẩu?</a>
        </div> -->
    </div>
    <label class="form-error h100" *ngIf="!!initializationError">{{ initializationError }}</label>
    <div class="d-flex d-flex-between">
      <button type="submit" id="submit">Đăng nhập</button>
      <div class="w50" *ngIf="appConfigService.SAML2ADFS_ENABLED"></div>
      <button type="button" (click)="ssoLogin()" *ngIf="appConfigService.SAML2ADFS_ENABLED">Đăng nhập bằng SSO</button>
    </div>
    
  </form>
</section>

<app-fullscreen-modal-loader *ngIf="loading"></app-fullscreen-modal-loader>