<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Nghiệp vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='#'>Phê duyệt Hồ sơ nhân viên</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="family-change" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <div id='container'>
        <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()' height='100%' width='100%'>
          <e-panes>
            <e-pane size='270px' max='40%'>
              <ng-template #content>
                <div id='vertical_splitter' class="vertical_splitter">
                  <div>
                    <div class="content">
                      <cms-app-org></cms-app-org>
                    </div>
                  </div>
                  <div>
                    <div class="content content-checkbox">
                      <ejs-checkbox label="Cả nhân viên nghỉ việc" (change)="GetEmp($event!)" [checked]="false">
                      </ejs-checkbox>
                      <div class="bg-ter"></div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </e-pane>
            <e-pane>
              <ng-template #content>
                <div class="list-grid">
                  <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' showColumnMenu='true'
                    (dataStateChange)="dataStateChange($event!)" rowHeight='70' headerHeight='40'
                    [height]='configs.height()' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                    [enableHover]='true' (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
                    allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true'
                    [showColumnChooser]='true' [selectionSettings]='configs.selectionSettings'
                    [editSettings]='configs.editSettings' (rowSelecting)="setButtonStatus($event!)"
                    (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true' [allowExcelExport]='true'>
                    <e-columns>
                      <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                        [allowSorting]='false' width='50' textAlign="Center" [allowEditing]="false" isFrozen="true">
                      </e-column>
                      <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                        [isPrimaryKey]='true' [allowEditing]="false">
                      </e-column>
                      <e-column field='avatar' headerTextAlign="Center" textAlign="Center" headerText="Ảnh"
                        clipMode='EllipsisWithTooltip' width='100' isFrozen="true">
                        <ng-template #template let-data>
                          <img src="{{data.avatar}}"
                            style="height:65px; width: 65px; border-radius: 50%;object-fit: cover;"
                            *ngIf="data.avatar!= null">
                        </ng-template>
                      </e-column>
                      <e-column field='code' headerTextAlign="Left" textAlign="Left" headerText="Mã NV"
                        clipMode='EllipsisWithTooltip' width='122' isFrozen="true"></e-column>
                      <e-column field='fullname' headerTextAlign="Left" textAlign="Left" headerText="Họ tên"
                        clipMode='EllipsisWithTooltip' isFrozen="true" width='180'>
                      </e-column>
                      <e-column field='orgName' headerTextAlign="Left" textAlign="Left" headerText="Phòng ban"
                        clipMode='EllipsisWithTooltip'>
                      </e-column>
                      <e-column field='pName' headerTextAlign="Left" textAlign="Left" headerText="Vị trí công việc"
                        clipMode='EllipsisWithTooltip'>
                      </e-column>
                      <e-column field='name' headerTextAlign="Left" textAlign="Left" headerText="Họ tên thân nhân"
                        clipMode='EllipsisWithTooltip' width='180'>
                      </e-column>
                      <e-column field='relationName' headerTextAlign="Left" textAlign="Left" headerText="Mối quan hệ"
                        clipMode='EllipsisWithTooltip' width='180'>
                      </e-column>
                      <e-column field='birthDay' headerTextAlign="Center" type="date"
                        [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày sinh"
                        clipMode='EllipsisWithTooltip' width='180'></e-column>
                      <e-column field='no' headerTextAlign="Left" textAlign="Left" headerText="CMND"
                        clipMode='EllipsisWithTooltip' width='180'>
                      </e-column>

                      <e-column field='createDate' headerTextAlign="Center" type="date"
                        [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày yêu cầu"
                        clipMode='EllipsisWithTooltip' width='180'></e-column>
                      <e-column field='updatedBy' headerTextAlign="Left" textAlign="Left" headerText="Tài khoản duyệt"
                        clipMode='EllipsisWithTooltip'>
                      </e-column>
                      <e-column field='updatedDate' headerTextAlign="Center" type="date"
                        [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày phê duyệt"
                        clipMode='EllipsisWithTooltip' width='180'></e-column>
                      <e-column field='StatusName' headerTextAlign="Center" textAlign="Center" headerText="Trạng thái"
                        clipMode='EllipsisWithTooltip' width='127'> </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
              </ng-template>
            </e-pane>
          </e-panes>
        </ejs-splitter>
      </div>
    </div>

  </div>
</div>

<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Bạn có chắc chắn muốn xóa không ?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>