<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hệ thống<i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Thiết lập
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/profile/list/position'>Thiết
              lập địa điểm chấm công</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="settingmap-edit" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <!--main-content -->
    <div class="app-content">
    <div class="card-center">
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="group-box">
          <div class="card-head">
            <div class="icon-info histaff-icon"></div>
            <label class="title">Thông tin </label>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required">Tên địa điểm</label>
                <input class="form-control" type="text" formControlName="name" [(ngModel)]="model.name">
                <span class="input-error"
                  *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                  Bắt buộc nhập
                </span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required">Địa chỉ</label>
                <input class="form-control" type="text" formControlName="address" [(ngModel)]="model.address">
                <span class="input-error"
                  *ngIf="editForm.get('address')!.hasError('required') && !editForm.get('address')!.untouched">
                  Bắt buộc nhập
                </span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text">IP Wifi</label>
                <input class="form-control" type="text" formControlName="ip" [(ngModel)]="model.ip" maxlength="150">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text ">Lat(Vĩ độ)</label>
                <input class="form-control" type="text" formControlName="lat" [(ngModel)]="model.lat" (change)="ChangeMap()">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text ">Long(Kinh độ)</label>
                <input class="form-control" type="text" formControlName="lng" [(ngModel)]="model.lng" (change)="ChangeMap()">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text ">Bán kính(chấm công)</label>
                <input class="form-control" type="text" formControlName="radius" [(ngModel)]="model.radius" (change)="ChangeMap()">
              </div>
            </div>
          </div>
        </div>
        <div class="group-box">
          <div class="card-head">
            <div class="icon-info histaff-icon"></div>
            <label class="title">Thông tin </label>
          </div>
          <div class="row">
            <div class="col-sm-12" style="padding-bottom: 30px;">
              <div class="form-group vertical" style="height: 500px">
                <label class="e-float-text ">Bản đồ</label>
                <map-core #mapcore></map-core>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>

<!-- CONFIRM BACK MODAL-->
<gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DIRECT MODAL-->
<gohr-confirm-modal id="confirm-direct-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary">Đồng
      ý</button>
    <button class="btn btn-default">Hủy</button>
  </div>
</gohr-confirm-modal>