<ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' [height]='configs.height()-100' rowHeight='37'
  (dataStateChange)="dataStateChange($event!)" headerHeight='42' [allowPaging]='true' [allowExcelExport]='true' 
  [pageSettings]='configs.pageSettings' [enableHover]='true' [allowSorting]='true' allowResizing='true'
  [locale]='configs.currentLang' [allowSelection]='true' [selectionSettings]='selectionOptions' [allowFiltering]='true'
  [allowTextWrap]="true" [textWrapSettings]="configs.wrapSettings" [enableHover]="false"
  (queryCellInfo)='customiseCell($event!)'>
  <e-columns>
    <e-column field='EMPLOYEE_ID' [visible]='false'>
    </e-column>
    <e-column field='EMPLOYEE_CODE' textAlign="Left" headerTextAlign="Center" headerText="Mã"
      clipMode='EllipsisWithTooltip' width="120" isFrozen="true">
    </e-column>
    <e-column field='EMPLOYEE_NAME' textAlign="Left" headerTextAlign="Center" headerText="Tên"
      clipMode='EllipsisWithTooltip' width="160" isFrozen="true">
    </e-column>
    <e-column field='WORKINGDAY' headerTextAlign="Center" type="date" [format]="{ type: 'date', format: 'dd/MM/yyyy' }"
      textAlign="Center" headerText="Ngày" clipMode='EllipsisWithTooltip' [allowFiltering]='false' isFrozen="true"
      width="120">
    </e-column>
    <e-column field='TIMETYPE_ID' [visible]='false'></e-column>
    <e-column field='TIMETYPE_CODE' textAlign="Center" headerTextAlign="Center" headerText="Mã công"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false' width="90">
    </e-column>
    <e-column field='HOURS_START' textAlign="Center" headerTextAlign="Center" headerText="Giờ bắt đầu"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='HOURS_STOP' textAlign="Center" headerTextAlign="Center" headerText="Giờ kết thúc"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='TIME_POINT1' textAlign="Center" headerTextAlign="Center" headerText="Quẹt vào"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='IMG_POINT1' textAlign="Center" headerTextAlign="Center" headerText="Ảnh vào" width="120"
      [allowFiltering]='false'>
      <ng-template #template let-data>
        <div class="row-status full-width">
          <div class="status-effect text-center">
            <a href={{data.IMG_POINT1}} target="_blank"><img style="height: 35px;" src={{data.IMG_POINT1}}></a>
          </div>
        </div>
      </ng-template>
    </e-column>
    <e-column field='TIME_POINT4' textAlign="Center" headerTextAlign="Center" headerText="Quẹt ra"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='IMG_POINT4' textAlign="Center" headerTextAlign="Center" headerText="Ảnh ra" width="120"
      [allowFiltering]='false'>
      <ng-template #template let-data>
        <div class="row-status full-width">
          <div class="status-effect text-center">
            <a href={{data.IMG_POINT4}} target="_blank"><img style="height: 35px;" src={{data.IMG_POINT4}}></a>
          </div>
        </div>
      </ng-template>
    </e-column>
    <e-column field='CHECK_MAP' textAlign="Right" headerTextAlign="Center" headerText="Check map" width="85"
      [allowFiltering]='false'>
      <ng-template #template let-data>
        <div class="row-status full-width">
          <span (click)="CheckMap(data)">Link</span>
        </div>
      </ng-template>
    </e-column>

    <e-column field='TIME_WORKING' textAlign="Right" headerTextAlign="Center" headerText="Thời gian làm việc theo ca(p')"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='TIME_WORKING_REAL' textAlign="Right" headerTextAlign="Center" headerText="Thời gian làm việc thực tế(p')"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='LATE_IN' textAlign="Right" headerTextAlign="Center" headerText="Đi muộn"
      clipMode='EllipsisWithTooltip' width="85" [allowFiltering]='false'>
    </e-column>
    <e-column field='EARLY_OUT' textAlign="Right" headerTextAlign="Center" headerText="Về sớm"
      clipMode='EllipsisWithTooltip' width="85" [allowFiltering]='false'>
    </e-column>
    <!--  <e-column field='TIME_POINT_OT' textAlign="Right" headerTextAlign="Center"
      headerText="Quẹt vào OT" clipMode='EllipsisWithTooltip' width="120"
      [allowFiltering]='false'>
    </e-column> -->
    <e-column field='OT_START' textAlign="Right" headerTextAlign="Center" headerText="Giờ bắt đầu OT"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='OT_END' textAlign="Right" headerTextAlign="Center" headerText="Giờ kết thúc OT"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <!--  <e-column field='OT_LATE_IN' textAlign="Right" headerTextAlign="Center"
      headerText="Vào muộn OT" clipMode='EllipsisWithTooltip' width="120"
      [allowFiltering]='false'>
    </e-column>
    <e-column field='OT_EARLY_OUT' textAlign="Right" headerTextAlign="Center"
      headerText="Về sớm OT" clipMode='EllipsisWithTooltip' width="120"
      [allowFiltering]='false'>
    </e-column> -->
    <e-column field='OT_TIME' textAlign="Right" headerTextAlign="Center" headerText="Số thời gian OT ngày"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>
    <e-column field='OT_TIME_NIGHT' textAlign="Right" headerTextAlign="Center" headerText="Số thời gian OT đêm"
      clipMode='EllipsisWithTooltip' width="120" [allowFiltering]='false'>
    </e-column>

    <e-column field='IS_REGISTER_OFF' [visible]='false'></e-column>
    <e-column field='IS_REGISTER_LATE_EARLY' [visible]='false'></e-column>
    <e-column field='IS_HOLIDAY' [visible]='false'></e-column>
  </e-columns>
</ejs-grid>
<cms-app-modalstimesheetroot id="cms-app-modalstimesheetroot"></cms-app-modalstimesheetroot>

<modal-md id="modal-md">
  <div class="modal-md">
    <div class="modal-header">
      <div>
        <p>Check địa địa điểm chấm công </p>
      </div>
      <div>
        <span class="pl-2" (click)="close()"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="modal-content">
      <div class="row" style="height: 100%">
        <div class="col">
          <map-multimarker #mapcore></map-multimarker>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal-md>