<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Lương <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Thiết lập
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/payroll/list/kpiposition'>Thiết lập KPI cho chức
              vụ</span>
          </div>
        </div> <!-- toolbar -->
        <app-common-tools name="kpiposition" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <div class="row">
        <div class="col-sm-2 pt-2">
         
          <div style="max-height: 800px; overflow-y: scroll;">
            <ejs-treeview #listPosition id="default" (nodeSelected)="positionSelecting($event!)">
            </ejs-treeview>
          </div>
        </div>
        <div class="col-sm-10 right-content">
          <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
            (dataStateChange)="dataStateChange($event!)" rowHeight='37' headerHeight='42' [height]='configs.height()'
            [allowPaging]='true' [pageSettings]='configs.pageSettings' [enableHover]='true' [allowSorting]='true'
            allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
            [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
            (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'>
            <e-columns>
              <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
                width='60' textAlign="Center" [allowEditing]="false">
              </e-column>
              <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
                [allowEditing]="false">
              </e-column>
              <e-column field='positionId' [visible]='false'>
              </e-column>
              <e-column field='kpiTargetId' [visible]='false'>
              </e-column>
              <e-column field='kpiTargetName' headerTextAlign="Left" textAlign="Left" headerText="Phần tử KPI"
                clipMode='EllipsisWithTooltip'></e-column>
              <e-column field='kpiGroupName' headerTextAlign="Left" textAlign="Left" headerText="Nhóm phần tử KPI"
                clipMode='EllipsisWithTooltip' width='120'></e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONFIRM DELETE MODAL-->
<modal-md id="modal-md">
  <div class="modal-md">
    <div class="modal-header">
      <div>
        <p>Thêm KPI cho chức vụ </p>
      </div>
      <div>
        <span><i class="fa fa-window-maximize" aria-hidden="true"></i></span>
        <span class="pl-2" (click)="close()"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="modal-content">
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="row">

          <div class="col-sm-6">
            <div class="form-group vertical">
              <label class="e-float-text required">Chức vụ</label>
              <ejs-dropdownlist [dataSource]='lstPositionId' [fields]='fields' [(ngModel)]="model.positionId"
                formControlName="positionId" [placeholder]="''" [allowFiltering]='true'
                (filtering)='onFiltering($event,lstPositionId)'>
              </ejs-dropdownlist>
              <span class="input-error"
                *ngIf="editForm.get('positionId')!.hasError('required') && !editForm.get('positionId')!.untouched">
                Bắt buộc chọn
              </span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group vertical">
              <label class="e-float-text required">Phần tử KPI</label>
              <ejs-multiselect id="kpiTargetId" [mode]='mode' [dataSource]='lstKpiTargetId' [fields]='fields'
                [(ngModel)]="model.kpiTargetId" formControlName="kpiTargetId" [placeholder]="''" [allowFiltering]='true'
                (filtering)='onFiltering($event,lstKpiTargetId)'>
              </ejs-multiselect>
              <span class="input-error"
                *ngIf="editForm.get('kpiTargetId')!.hasError('required') && !editForm.get('kpiTargetId')!.untouched">
                Bắt buộc chọn
              </span>
            </div>
          </div>

          <!-- <div class="col-sm-6">
            <div class="form-group vertical">
              <label class="e-float-text required">Phần tử KPI</label>
              <ejs-dropdownlist [dataSource]='lstKpiTargetId' [fields]='fields'
                [(ngModel)]="model.kpiTargetId" formControlName="kpiTargetId"
                [placeholder]="''" [allowFiltering]='true'
                (filtering)='onFiltering($event,lstKpiTargetId)'>
              </ejs-dropdownlist>
              <span class="input-error"
                *ngIf="editForm.get('kpiTargetId')!.hasError('') && !editForm.get('kpiTargetId')!.untouched">
                Bắt buộc chọn
              </span>
            </div>
          </div> -->

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="save()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu</button>
      <button class="btn-cancel" (click)="close()">
        <i class="fa fa-times" aria-hidden="true"></i>
        Hủy</button>
    </div>
  </div>
  <div class="modal-background"></div>
</modal-md>