<div class="app-footer border-0 shadow-lg bg-histaff-app">
    <a routerLink="/home" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
    <a routerLink="/defaultvideo" class="nav-content-bttn"><i class="feather-package"></i></a>
    <a routerLink="/defaultlive" class="nav-content-bttn" data-tab="chats"><i class="feather-layout"></i></a>
    <a routerLink="/shop2" class="nav-content-bttn"><i class="feather-layers"></i></a>
    <a routerLink="/defaultsettings" class="nav-content-bttn"><i class="feather-user"></i></a>
</div>