<div class="modal-organization">
  <div class="modal-header-org">
    <div >
      <p>Chọn phòng ban</p>
    </div>
    <div>
      <span (click)="maximize()"><i class="fa fa-window-maximize"
          aria-hidden="true"></i></span>
      <span class="pl-2" (click)="close()"><i class="fa fa-times"
          aria-hidden="true"></i></span>
    </div>
  </div>
  <div class="modal-content-org">
    <div id='treeparent'>
      <ejs-treeview #treeView id="default" [fields]='field'
        (nodeSelected)="nodeSelecting($event!)" [showCheckBox]='selectionOptions'>
      </ejs-treeview>
    </div>
  </div>
  <div class="modal-footer-org">
    <div class="col-3 "></div>
    <div class="col-9 p-l rigth-card ">
      <button class="btn-choose" (click)="choiseOrg()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Chọn</button>
      <button class="btn-cancel" (click)="close()">
        <i class="fa fa-times" aria-hidden="true"></i>
        Hủy</button>
    </div>
  </div>
</div>
<div class="modal-background"></div>
