.core-button-container {
    &>i {
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        color: var(--color-bg-pagination-button);
        background-color: var(--color-bg-main);
    }
}