<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hệ thống <i
              class="fa fa-angle-double-right" aria-hidden="true">Website</i>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/sys/website/category'>Danh mục
              tin</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>
    <!--main-content -->
    <div class="card-center">
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="group-box">
          <!-- title -->
          <div class="card-head">
            <div class="icon-info histaff-icon"></div>
            <label class="title">Thông tin </label>
          </div>
          <!--  -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required" for="code">Người tạo</label>
                <input class="form-control" type="text"
                  formControlName="create_by" [(ngModel)]="model.create_by"
                  maxlength="31">
                <span class="input-error"
                  *ngIf="editForm.get('create_by')!.hasError('required') && !editForm.get('create_by')!.untouched">
                  Bắt buộc
                </span>
                <span class="input-error "
                  *ngIf="editForm.get('create_by')!.hasError('incorrect') && !editForm.get('create_by')!.untouched">
                  Sai định dạng
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group  vertical">
                <label class="e-float-text ">Số thứ
                  tự</label>
                <ejs-numerictextbox format="N0" locale="en" name="orders"
                  formControlName="orders" [(ngModel)]="model.orders" min="0"
                  max="999999999">
                </ejs-numerictextbox>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group vertical">
                <label class="e-float-text required">Chủ đề</label>
                <input class="form-control" type="text" formControlName="title"
                  [(ngModel)]="model.title" maxlength="51">
                <span class="input-error"
                  *ngIf="editForm.get('title')!.hasError('required') && !editForm.get('title')!.untouched">
                  Bắt buộc
                </span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group vertical">
                <label class="e-float-text ">Mô tả</label>
                <input class="form-control" type="text"
                  formControlName="description" [(ngModel)]="model.description">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group vertical">
                <label class="e-float-text ">Meta Description</label>
                <input class="form-control" type="text"
                  formControlName="meta_description"
                  [(ngModel)]="model.meta_description">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<!-- CONFIRM BACK MODAL-->
<gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>
