<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="app-breadcrum">
        <a class="breadcrum-text" href='/cms/dashboard'>
          Trang chủ
        </a>
        <span class="breadcrum-icon"><i class="fa fa-caret-right"></i></span>
        <a class="breadcrum-text">
          Danh mục
        </a>
        <span class="breadcrum-icon"><i class="fa fa-caret-right"></i></span>
        <a class="breadcrum-text" href='/cms/profile/applist/elementgroup'>
          Danh mục Thang lương
        </a>
      </div>
      <div class="app-title">
        Danh mục Thang lương
      </div>
      <div class="card card-content">
        <div class="main-toolbar">
          <div class="row">
            <div class="col-sm-9 p-n">
              <button id="add" class="btn-action"
                (click)="clickToolbar(itemButton)"
                *ngFor="let itemButton of toolbar"
                [disabled]="itemButton.isDisable === true">
                <p class="text-center"><i
                    class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
                </p>
                <p class="text-center">{{itemButton.text}}</p>
              </button>
            </div>
            <div class="col-sm-3 p-n text-right">
              <div class="row right-filter">
                <div class="col">
                  <div class="form-group">
                    <div class="e-float-input">
                      <input type="text" id="firstname" name="firstname"
                        placeholder="Tìm kiếm...">
                      <span class="search-icon"><i
                          class="fa fa-search"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-content">
      <div class="card card-content">
        <div class="card-main-content">
          <div class="list-grid">
            <ejs-grid #overviewgrid id='overviewgrid'
              [dataSource]='data | async'
              (dataStateChange)="dataStateChange($event!)" rowHeight='45'
              headerHeight='52' [height]='configs.height()' [allowPaging]='true'
              [pageSettings]='configs.pageSettings' [enableHover]='true'
              (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
              allowResizing='true' [locale]='configs.currentLang'
              [allowSelection]='true' [showColumnChooser]='true'
              [selectionSettings]='configs.selectionSettings'
              [editSettings]='configs.editSettings'
              (rowSelecting)="setButtonStatus($event!)"
              (rowDeselecting)="setButtonStatus($event!)"
              [allowFiltering]='true'>
              <e-columns>
                <e-column type='checkbox' [showInColumnChooser]='false'
                  [allowFiltering]='false' [allowSorting]='false' width='60'
                  textAlign="Center" [allowEditing]="false">
                </e-column>
                <e-column field='id' [showInColumnChooser]='false'
                  [visible]='false' headerText='ID' [isPrimaryKey]='true'
                  [allowEditing]="false"></e-column>
               
                <!--  -->
                <e-column field='code' headerTextAlign="Center" textAlign="Left"
                  headerText="Mã" clipMode='EllipsisWithTooltip'></e-column>
                <e-column field='name' headerTextAlign="Center" textAlign="Left"
                  headerText="Tên" clipMode='EllipsisWithTooltip'></e-column>
                <e-column field='dateEffect' headerTextAlign="Center"
                  type="date" [format]="{ type: 'date', format: 'dd/MM/yyyy' }"
                  textAlign="Center" headerText="Ngày hiệu lực"
                  clipMode='EllipsisWithTooltip'></e-column>
                <e-column field='note' headerTextAlign="Center" textAlign="Left"
                  headerText="Ghi chú" clipMode='EllipsisWithTooltip'>
                </e-column>

                <!--  -->
                <e-column field='isActive' textAlign="Center"
                  headerText="Trạng thái" clipMode='EllipsisWithTooltip'>
                  <ng-template #template let-data>
                    <div class="row-status full-width">
                      <div class="status-effect text-center"
                        *ngIf="data.isActive">
                        <span>Hiệu lực</span>
                      </div>
                      <div class="status-not-effect text-center"
                        *ngIf="!data.isActive">
                        <span>Không hiệu lực</span>
                      </div>
                    </div>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- CONFIRM DELETE MODAL-->

