app-import-tax-annual {}

.main {
    padding-right: 7vh !important;
}

.column-caption {
    width: 200px !important;
}

.label-custom {
    color: #848484;
    display: inline-block;
    font-size: 13px;
}