<div class="core-grid-buffer-container" *ngIf="!!form">

    <form (ngSubmit)="onFormSubmit()" [formGroup]="form" autocomplete="off">

        <div *ngFor="let section of formSections" class="section">

            <div class="section-header-label" *ngIf="section.caption">
                <div class="icon-info"></div>
                <label>{{ section.caption | translate: lang }}</label>
            </div>

            <div *ngFor="let row of section.rows" class="row mb15">
                <div *ngFor="let col of row" [class]="'col-md-' + col.flexSize">
                    <core-control-no-grid-buffer [control]="col" [form]="form"></core-control-no-grid-buffer>
                </div>
            </div>

        </div>

        <div class="grid-buffer-submit d-flex-center">
            <i class="" (click)="onFormSubmit()"></i>
        </div>

    </form>

    <core-table [columns]="gridColumns" [height]="300" [data]="gridData" [showTools]="showTools" [tools]="tools" headerHeight="60px" rowHeight="46px" [freeMode]="true" (onToolClick)="onToolClick($event)"></core-table>

</div>