<div class="modal-container">

    <app-fullscreen-modal-loader *ngIf="loading"></app-fullscreen-modal-loader>

    <div class="modal-content-root">
        <div class="app-sys-function-action-mapper-container" *ngIf="!!buttons">

            <div class="popup-header">
                <i class="feather-x" (click)="onCancel()"></i>
                <caption class="title"><span class="captionText">{{ captionCode | translate:lang | uppercase }}</span>
                </caption>
            </div>

            <div class="function-header mt50">
                <div class="function-header-item d-flex d-flex-around w-100">
                    <div class="d-flex d-flex-start"> {{ 'UI_ENTITY_FIELD_CAPTION_SYS_FUNCTION_CODE' | translate: lang}}
                    </div>
                    <div class="d-flex d-flex-end">{{ function.code }}</div>
                </div>
                <div class="function-header-item d-flex d-flex-around">
                    <div class="d-flex d-flex-start"> {{ 'UI_ENTITY_FIELD_CAPTION_SYS_FUNCTION_NAME' | translate: lang}}
                    </div>
                    <div class="d-flex d-flex-end">{{ function.name }}</div>
                </div>
                <div class="function-header-item d-flex d-flex-around">
                    <div class="d-flex d-flex-start"> {{ 'UI_ENTITY_FIELD_CAPTION_SYS_FUNCTION_PATH' | translate: lang}}
                    </div>
                    <div class="d-flex d-flex-end">{{ function.path }}</div>
                </div>
            </div>

            <div class="d-flex d-flex-center mt50">

                <div class="container container-fluid">

                    <div class="content-body d-flex d-flex-between mb15" *ngFor="let button of buttons">
                        <div>{{ button.code }}</div>
                        <div>{{ button.caption | translate : lang }}</div>
                        <div>
                            <core-ios-switcher [bgColor]="'#358ccb'" [(ngModel)]="button.isActive"></core-ios-switcher>
                        </div>
                    </div>

                </div>

            </div>

            <div class="d-flex d-flex-center mt50 mb50">
                <core-button-group-vns [showCaption]="true" (buttonClick)="onButtonClick($event)"
                    [shownItems]="buttonItems"></core-button-group-vns>
            </div>

        </div>
    </div>
</div>