<div #container class="dialog-state-container roboto-font">
    <div class="header w-100 d-flex d-flex-between">
        <span>Dialog State</span>
        <i class="feather-x" (click)="close()"></i>
    </div>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-4 label">busy</div>
            <div class="col-md-8 font-bold">{{ ds.busy }}</div>
        </div>
        <div class="row">
            <div class="col-md-4 label">showConfirmDialog</div>
            <div class="col-md-8 font-bold">{{ ds.showConfirmDialog$.value }}</div>
        </div>
        <div class="row">
            <div class="col-md-4 label">dialogConfirmed</div>
            <div class="col-md-8 font-bold">{{ ds.dialogConfirmed$.value }}</div>
        </div>
        <div class="row">
            <div class="col-md-4 label">title</div>
            <div class="col-md-8 font-bold">{{ ds.title$.value | translate: lang}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 label">body</div>
            <div class="col-md-8 font-bold">{{ ds.body$.value | translate: lang}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 label">okButtonText</div>
            <div class="col-md-8 font-bold">{{ ds.okButtonText$.value | translate: lang}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 label">cancelButtonText</div>
            <div class="col-md-8 font-bold">{{ ds.cancelButtonText$.value | translate: lang}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 label">instanceNumber</div>
            <div class="col-md-8 font-bold">{{ ds.dialogConfirmed$.value?.instanceNumber }}</div>
        </div>

    </div>
</div>

<!--
    busy!: boolean;
    showConfirmDialog$ = new BehaviorSubject<boolean | undefined>(undefined);
    canDeactivate$ = new Subject<boolean>;
    dialogConfirmed$ = new BehaviorSubject<IDialogConfirmModel | undefined>(undefined);
    title$ = new Subject<EnumTranslateKey>;
    body$ = new Subject<EnumTranslateKey>;
    okButtonText$ = new Subject<EnumTranslateKey>;
    cancelButtonText$ = new Subject<EnumTranslateKey>;
    showCancelOnly$ = new Subject<boolean>;
    informationLines$ = new Subject<string[]>;
-->