.dialog-state-container {
    --z-index: 999;
    --height: 250px;

    position: fixed;
    display: block;
    padding: var(--size-layout-block-cell-spacing);
    background-color: antiquewhite;
    border-radius: 20px;
    top: calc(100vh - var(--height) - var(--size-layout-block-cell-spacing));
    right: var(--size-layout-block-cell-spacing);
    z-index: var(--z-index);
    width: 640px;
    height: var(--height);

    & header {
        & i {
            font-size: 28px;
            color: #848484;
        }
    }

}