<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Lương <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/payroll/list/listmachine'>Danh mục máy uốn</span>
          </div>
        </div> <!-- toolbar -->
        <app-common-tools name="listmachine" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' (dataStateChange)="dataStateChange($event!)"
        rowHeight='37' headerHeight='42' [height]='configs.height()' [allowPaging]='true'
        [pageSettings]='configs.pageSettings' [enableHover]='true' (recordDoubleClick)="viewRecord($event!)"
        [allowSorting]='true' allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true'
        [showColumnChooser]='true' [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
        [allowExcelExport]='true' (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)"
        [allowFiltering]='true'>
        <e-columns>
          <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
            width='60' textAlign="Center" [allowEditing]="false">
          </e-column>
          <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
            [allowEditing]="false">
          </e-column>
          <e-column field='code' headerTextAlign="Center" textAlign="Left" headerText="mã"
            clipMode='EllipsisWithTooltip'></e-column>
          <e-column field='name' headerTextAlign="Center" textAlign="Left" headerText="Tên"
            clipMode='EllipsisWithTooltip'></e-column>
          <e-column field='unit_Price' headerTextAlign="Center" textAlign="Right" headerText="Đơn giá"
            clipMode='EllipsisWithTooltip'></e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>

<!-- CONFIRM DELETE MODAL-->