.core-list-lazy-container {

    --search-bg-color: white;
    --search-border-color: #D1D1D1;
    --search-item-hover-bg: lightgray;
    --search-item-hover-color: white;
    --count-height: 1000px; // to be recalculated
    --active-item-background-color: #358ccb;
    --core-scroll-container-height: 500px; // to be recalculated
    position: relative;
    display: block;
    padding: var(--size-left-bar-block-cell-spacing);
    box-sizing: border-box;

    & .core-scroll-container {
        display: block;
        padding: 0;
        height: var(--core-scroll-container-height);
    }

    ul,
    li {
        box-sizing: border-box;
        margin: 0;
    }

    .list {
        display: block;
        position: relative;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        margin-top: 2px;
        transition: .25s linear;
    }

    .list ul>li {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .25s linear;
        margin-left: 3px;
        height: 50px; // need to be fixed for scroll computing
        padding: var(--size-left-bar-block-cell-spacing);
        font-size: var(--typo-basic-font-size);
    }

    .list ul>li.more {
        height: 800px;
    }

    .list ul>li:hover {
        background-color: var(--search-item-hover-bg);
        color: var(--search-item-hover-color);
        transition: .25s linear;
    }

    .list ul>li.active {
        background-color: var(--color-basic-orange);
        color: white;
        transition: .25s linear;
    }

    .search-wrapper {
        background-color: white;
        width: 100%;
        padding: 3px;
        position: sticky;
        top: 0;
        left: 0;

        &>input.search {
            margin-bottom: var(--size-left-bar-block-cell-spacing);
            background-color: var(--search-bg-color);
            font-size: 15px;
            width: 100%;
        }

    }

}