<div #container class="core-orgchartflex-container" (mousedown)="startDragging($event, false)"
    (mouseup)="stopDragging($event, false)" (mouseleave)="stopDragging($event, false)" (mousemove)="moveEvent($event)">

    <div class="scroll-container" #parent [ngStyle]="{ cursor: mouseDown ? 'all-scroll' : 'unset'}">

        <div class="zoom-control p-absolute">
            <div class="p-relative d-flex d-flex-start">
                <i class="feather-minus-circle pointer" (click)="zoonOut()"></i>
                <i class="feather-plus-circle pointer" (click)="zoonIn()"></i>
                <i class="feather-monitor pointer" (click)="zoonFeat()"></i>
            </div>
        </div>

        <div class="print-area" #printArea>

            <ul class="tree" *ngFor="let root of data">
                <ng-container *ngTemplateOutlet="item; context: { context: root}"></ng-container>
            </ul>

        </div>

        <ng-template #item let-context="context" let-title="context.tree$Title" let-expanded="context.tree$Expanded"
            let-children="context.tree$Children" let-tier="context.tree$Tier" let-isActive="context.isActive">
            <li *ngIf="(!showDissolved && !!isActive) || (!!showDissolved)">
                <span *ngIf="!!compactMode" (click)="toggleExpand(context)" class="pointer" [class.compact]="tier !== 1">
                    {{ title }}
                </span>

                <!-- When passing item template and compactMode=false-->
                <span *ngIf="!!!compactMode && !!itemTemplate" (click)="toggleExpand(context)" class="pointer">
                    <ng-container *ngTemplateOutlet="itemTemplate; context: { item: context } "></ng-container>
                </span>
                <!-- -------------------------  -->

                <ul *ngIf="!!expanded && !!children.length ">
                    <ng-container *ngFor="let child of children">
                        <ng-container *ngTemplateOutlet="item; context: { context: child}"></ng-container>
                    </ng-container>
                </ul>
            </li>
        </ng-template>

    </div>

</div>