.core-orgchartflex-container {

    --width: 100px;
    --height: 100px;
    --link-color: cadetblue;
    --print-area-scale: 1;

    @keyframes fadeIn {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }

    * {
        animation: fadeIn .5s ease-in-out;
    }

    .scroll-container {
        display: block;
        width: var(--width);
        height: var(--height);
        overflow-x: auto;

        .zoom-control {
            top: var(--size-layout-block-cell-spacing);
            right: var(--size-layout-block-cell-spacing);
            z-index: 3;

            i {
                font-size: 16px;
                color: #848484;
            }
        }

        .print-area {
            transform: scale(var(--print-area-scale));
            transition: .5s linear;
            width: 6000px !important;
            height: 3000px !important;
        }

        .tree,
        .tree ul,
        .tree li {
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }
    
        .tree {
            margin: 0 0 1em;
            text-align: center;
        }
    
        .tree,
        .tree ul {
            display: table;
        }
    
        .tree ul {
            width: 100%;
        }
    
        .tree li {
            display: table-cell;
            padding: .5em 0;
            vertical-align: top !important;
        }
    
        .tree li:before {
            outline: solid 1px #666;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    
        .tree li:first-child:before {
            left: 50%;
        }
    
        .tree li:last-child:before {
            right: 50%;
        }
    
        .tree code,
        .tree span {
            border: solid .1em lightgrey;
            display: inline-block;
            margin: 0 .2em .5em;
            padding: .2em .5em;
            position: relative;
        }

        .tree span.compact {
            max-width: 75px;
        }
    
        .tree ul:before,
        .tree code:before,
        .tree span:before {
            outline: solid 1px #666;
            content: "";
            height: .5em;
            left: 50%;
            position: absolute;
        }
    
        .tree ul:before {
            top: -.5em;
        }
    
        .tree code:before,
        .tree span:before {
            top: -.55em;
        }
    
        .tree>li {
            margin-top: 0;
        }
    
        .tree>li:before,
        .tree>li:after,
        .tree>li>code:before,
        .tree>li>span:before {
            outline: none;
        }
    
        a {
            text-decoration: unset;
            color: var(--link-color) !important;
        }
    }
}