<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="app-breadcrum">
        <a class="breadcrum-text" href='/cms/dashboard'>
          Trang chủ
        </a>
        <span class="breadcrum-icon"><i class="fa fa-caret-right"></i></span>
        <a class="breadcrum-text">
          Danh mục
        </a>
        <span class="breadcrum-icon"><i class="fa fa-caret-right"></i></span>
        <a class="breadcrum-text" href='/sys/config/function'>
          Danh mục Chức năng
        </a>
      </div>
      <div class="app-title" *ngIf="flagState == 'new'">
        Thêm mới danh mục Chức năng
      </div>
      <div class="app-title" *ngIf="flagState == 'edit'">
        Sửa danh mục Chức năng
      </div>
      <div class="app-title" *ngIf="flagState == 'view'">
        Xem danh mục Chức năng
      </div>
      <div class="card card-content">
        <div class="main-toolbar">
          <div class="row">
            <div class="col-sm-12 p-n">
              <button id="add" class="btn-action"
                (click)="clickToolbar(itemButton)"
                *ngFor="let itemButton of toolbar">
                <p class="text-center"><i
                    class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
                </p>
                <p class="text-center">{{itemButton.text}}</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-content">
      <div class="card card-content">
        <div class="card-main-content">
          <form name="editForm" [formGroup]="editForm" novalidate>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <input type="text" id="code" name="code"
                      formControlName="code" [(ngModel)]="model.code">
                    <span class="e-float-line"></span>
                    <label class="e-float-text required" for="code">Mã</label>
                    <span class="input-error"
                      *ngIf="editForm.get('code')!.hasError('required') && !editForm.get('code')!.untouched">
                      Trường Mã bắt buộc nhập
                    </span>
                    <span class="input-error"
                      *ngIf="editForm.get('code')!.hasError('pattern') && !editForm.get('code')!.untouched">
                      Mã không được chứa ký tự đặc biệt
                    </span>
                    <span class="input-error "
                      *ngIf="editForm.get('code')!.hasError('maxlength') && !editForm.get('code')!.untouched">
                      Mã không được vượt quá 30 ký tự
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <input type="text" id="name" name="name"
                      formControlName="name" [(ngModel)]="model.name">
                    <span class="e-float-line"></span>
                    <label class="e-float-text required" for="name">Tên</label>
                    <span class="input-error"
                      *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                      Trường Tên bắt buộc nhập
                    </span>
                    <span class="input-error "
                      *ngIf="editForm.get('name')!.hasError('maxlength') && !editForm.get('name')!.untouched">
                      Tên không được vượt quá 300 ký tự
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <ejs-dropdownlist [dataSource]='lstGroup' [fields]='fields'
                      [showClearButton]="true" [(ngModel)]="model.groupId"
                      formControlName="groupId" [placeholder]="''"
                      [allowFiltering]='true'
                      (filtering)='onFiltering($event,lstGroup )'>
                    </ejs-dropdownlist>
                    <span class="e-float-line"></span>
                    <label class="e-float-text2 required" for="status">Nhóm chức
                      năng</label>
                    <span class="input-error"
                      *ngIf="editForm.get('groupId')!.hasError('required') && !editForm.get('groupId')!.untouched">
                      Trường Nhóm chức
                      năng buộc chọn
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <ejs-dropdownlist [dataSource]='lstModule' [fields]='fields'
                      [showClearButton]="true" [(ngModel)]="model.moduleId"
                      formControlName="moduleId" [placeholder]="''"
                      [allowFiltering]='true'
                      (filtering)='onFiltering($event,lstModule )'>
                    </ejs-dropdownlist>
                    <span class="e-float-line"></span>
                    <label class="e-float-text2 required"
                      for="status">Module</label>
                    <span class="input-error"
                      *ngIf="editForm.get('moduleId')!.hasError('required') && !editForm.get('moduleId')!.untouched">
                      Trường Module bắt buộc chọn
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="e-float-input">
                    <textarea formControlName="states"
                      [(ngModel)]="model.states"></textarea>
                    <span class="e-float-line"></span>
                    <label class="e-float-text" for="states">States</label>
                    <span class="input-error "
                      *ngIf="editForm.get('states')!.hasError('maxlength') && !editForm.get('states')!.untouched">
                      States không được vượt quá 500 ký tự
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRM BACK MODAL-->
<gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default"
      (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DIRECT MODAL-->
<gohr-confirm-modal id="confirm-direct-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" >Đồng
      ý</button>
    <button class="btn btn-default"
      >Hủy</button>
  </div>
</gohr-confirm-modal>
