.core-form-control-seeker-container {

    display: block;
    position: relative;
    background-color: white;

    &>.seeker-icon-wrapper {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #E9E9E9;
        right: 3px;
        top: 3px;
        width: 29px;
        height: 29px;
        border-radius: .275rem;
        cursor: pointer;

        &>.flex-wrapper {
            width: 29px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            &>i {
                color: #848484;
                font-size: 20px;
                width: 28px;
                height: 28px;
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M9.0001 17.0002C13.4184 17.0002 17.0002 13.4184 17.0002 9.00011C17.0002 4.58177 13.4184 1 9.0001 1C4.58177 1 1 4.58177 1 9.00011C1 13.4184 4.58177 17.0002 9.0001 17.0002Z" stroke="%23848484" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 19.0001L14.6499 14.65" stroke="%23848484" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-repeat: no-repeat;
                margin-top: 7px;
                margin-left: 5px;
            }
        }
    }

    & .input-wrapper {
        height: var(--size-form-control-height);

        label.text span {
            display: block;
            height: calc(var(--size-form-control-height) - 12px);
            line-height: calc(var(--size-form-control-height) - 12px);
            width: calc(100% - var(--size-form-control-height));
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: inherit;
        }

        & .clear-icon-wrapper {
            display: none;
            position: absolute;
            top: 0;
            background-color: transparent;
            right: 28px;
            top: 3px;
            width: 29px;
            height: 29px;
            border-radius: .275rem;
            cursor: pointer;
    
            &>.flex-wrapper {
                width: 29px;
                height: 29px;
                display: flex;
                align-items: center;
                justify-content: center;
                &>i {
                    color: #848484;
                    font-size: 20px;
                }
            }
        }

        &:hover>.clear-icon-wrapper {
            display: block;
        }

    }

    &>.seeker-icon-wrapper.multi-mode {
        position: relative;
        width: 35px;
        height: 35px;

        &>.flex-wrapper {
            width: 35px;
            height: 35px;
        }
    }

    .source-container {
        display: block;
        background-color: white;
        padding: var(--size-layout-block-cell-spacing);
        max-width: 1200px;
        max-height: 800px;
        overflow: hidden;
        border-radius: 10px;
        & i {
            font-size: 20px;
            cursor: pointer;
            float: right;
        }

        &.d-none {
            display: none;
        }
    
    
        &>caption {
            display: block;
            width: 100%;
        }
    }

    & .footer {
        background-color: var(--color-bg-main);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: var(--size-layout-block-cell-spacing);

        & button:first-child {
            margin-right: var(--size-layout-block-cell-spacing);
        }
        .btn-orange-color{
            background-color: #F37540;
            color: white;
        }
        .btn-orange-color:hover{
            background-color: #ED5B1D;
            color: white;
        }
    }

    .core-tabbe-wrapper {
        margin-top: 5px;
    }
}