.cms-app-calculate-tax-month-container {
  .d-flex-end.pagination-wrapper {
    margin-top: 10px;
  }

  .vertical-custom {
    margin-top: 0px;
  }

  .label-custom {
    color: #848484;
    display: inline-block;
    font-size: 13px;
  }

}