<div class="core-permission-actions-container">
    <core-page-list-content [loading]="loading" [rowHeight]="'50px'" [apiDefinition]="apiDefinition" [columns]="columns"
        [autoResizeWithWindow]="true" [extraManualOffset]="68" [disableHighlightOnClick]="true" [columnSearchDefaultOpen]="true"
        [fixedPageSize]="5" [height]="corePageListContentHeight"

        [wrap]="false"

        [headerWrap]="true"
        [headerFirstRowHeight]="100"


        ></core-page-list-content>
</div>

<ng-template #actions let-functionId="context.id" let-appActions="context.appActions">
    <core-tags [functionId]="functionId" [allOptions]="appActions" [disabled]="disabled" (onValueChange)="onTagsValueChange($event)"></core-tags>
</ng-template>