<div #container class="core-accordion-container">
    <div class="core-accordion-sector" *ngFor="let item of sectors; let index=index" [class.open]="!!item.open">
        <div class="sector-header pointer" (click)="toggleOpen(item, index, $event)">
            <div class="d-flex-between">
                <div class="header-text">
                    {{ item.header | translate: lang }}&ensp;<span *ngIf="!!item.required" class="required">*</span>
                </div>
                <div class="icon-group d-flex-between">
                    <div  class="icon-wrapper" [class.d-opacity-0]="!!!item.open || !!editDisabled" (click)="clickEdit(item, $event)" [appTooltip]="'UI_BUTTON_EDIT'| translate: lang">
                        <i class="edit d-flex custom-button-edit"></i>
                    </div>
                    <div class="icon-wrapper">
                        <i class="toggler d-flex feather-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="line-divider" [class.hidden]="!!!item.open">
            <core-line></core-line>
        </div> -->

        <!--
            Until viewInitDone=true, we must allow the component to render its content height
        -->
        <div class="sector-content" [class.open]="!!item.open"
            [ngStyle]="{ height: !!manualHeightList ? (!!item.open ? heightList[index] + 'px' : '0px') : (!!viewInitDone ? (!!item.open ? heightList[index] + 'px' : '0px') : 'unset') }">
            <!-- <div class="block-divider-horizontal"></div> --> <!--Phan nay em tam comment lai vi ben Design yeu cau -->
            <ng-container *ngTemplateOutlet="refs[index]"></ng-container>
        </div>


        <!-- <div class="sector-content" [class.open]="!!item.open"
        [ngStyle]="{ height: !!viewInitDone ? (!!item.open ? heightList[index] + 'px' : '0px') : 'unset' }">
        <div class="block-divider-horizontal"></div>
        <ng-container *ngTemplateOutlet="refs[index]"></ng-container>
        </div> -->

    </div>
</div>