.app-contractappendix-edit-container {}

:host::ng-deep .core-page-edit-container .section-img-wrapper {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

:host::ng-deep .core-page-edit-container .section-caption {
    padding: 0px !important;
    text-transform: uppercase !important;
}