<app-threedots *ngIf="loading"></app-threedots>
<div #container class="core-mcc-container" *ngIf="!!!loading">
    <input type="checkbox" class="expand-state" [(ngModel)]="expandState">
    <input class="value" [value]="value">
    <label type="text" class="text form-control" [class.form-control-disabled]="disabled">
        <span [appTooltip]="shownText">{{ !!loading ? "..." : shownText }}</span>
        <div class="icon" (click)="toggleExpanded()">
            <i class="feather-chevrons-down"></i>
        </div>

        <div class="clear-icon-wrapper" [class.d-none]="!!disabled || !!!value" (click)="onClickClear()">
            <div class="flex-wrapper" [appTooltip]="'UI.CORE_CONTOL_COMMON_CLEAR' | translate: lang">
                <i class="feather-x"></i>
            </div>
        </div>
        
    </label>
    <div class="dropdown" [class.form-control-disabled]="disabled" *ngIf="!!expandState">
        <core-page-list [hideCheck]="true" [hideHeader]="true" [height]="460" [rowHeight]="'40px'"
        [mccMode]="true" (rowDoubleClick)="onRowDoubleClick($event)"
        [columns]="columns" [apiDefinition]="apiDefinition" [fixedPageSize]="5" [columnSearchDefaultOpen]="true"
        [outerParam$]="outerParam$"
        ></core-page-list>
    </div>
</div>