<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Công <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Nghiệp
            vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <span class="brackcrum-active" href="">Quản lý
              đi muộn về sớm</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="takelateearly" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <ejs-splitter #horizontal width='100%'>
        <e-panes>
          <e-pane size='270px' max='40%'>
            <ng-template #content>
              <cms-app-org></cms-app-org>
            </ng-template>
          </e-pane>
          <e-pane>
            <ng-template #content>
              <div class="list-grid">
                <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
                  (dataStateChange)="dataStateChange($event!)" rowHeight='40' headerHeight='30'
                  [height]='configs.height()' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                  [enableHover]='true' (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
                  allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
                  [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
                  (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)"
                  [allowFiltering]='true' [allowExcelExport]='true'>
                  <e-columns>
                    <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                      [allowSorting]='false' width='40' textAlign="Center" [allowEditing]="false">
                    </e-column>
                    <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                      [isPrimaryKey]='true' [allowEditing]="false">
                    </e-column>
                    <!--  -->
                    <e-column field='statusName' textAlign="Center" headerText="Trạng thái"
                      clipMode='EllipsisWithTooltip' width='100'>
                      <ng-template #template let-data>
                        <div class="row-status full-width">
                          <div class="status-warning text-center" *ngIf="data.statusId == 1">
                            <span>Chờ duyệt</span>
                          </div>
                          <div class="status-effect text-center" *ngIf="data.statusId == 2">
                            <span>Đã duyệt</span>
                          </div>
                          <div class="status-not-effect text-center" *ngIf="data.statusId == 3">
                            <span>Từ chối</span>
                          </div>
                        </div>
                      </ng-template>
                    </e-column>
                    <e-column field='employeeCode' headerTextAlign="Center" textAlign="Center" headerText="Mã NV"
                      width='120' clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='employeeName' textAlign="Left" headerText="Họ và tên"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='orgName' textAlign="Left" headerText="Phòng ban" clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='positionName' textAlign="Left" headerText="Chức vụ" clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='dateStart' headerTextAlign="Center" type="date" width='126'
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày bắt đầu"
                      clipMode='EllipsisWithTooltip'></e-column>
                    <e-column field='dateEnd' headerTextAlign="Center" type="date" width='126'
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày hết hạn"
                      clipMode='EllipsisWithTooltip'></e-column>
                    <e-column field='timeLate' headerTextAlign="Center" textAlign="Right" headerText="Đi muộn(phút)"
                      width='136' clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='timeEarly' headerTextAlign="Center" textAlign="Right" headerText="Về sớm(phút)"
                      width='136' clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='note' textAlign="Left" headerText="Ghi chú" clipMode='EllipsisWithTooltip'>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>

  </div>
</div>

<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Bạn có chắc chắn muốn xóa dữ liệu?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>