<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/sys/configsys/salaryelementsys'>Phần tử lương</span>
          </div>
        </div> <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
          <!-- Search -->
     <div class="app-toolbar toolbar-search">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum row" style="width: 100%;">
          <div class="brackcrum col-sm-1">
            <i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm
          </div>
          <div class="col-sm-2">
                <ejs-dropdownlist id="area" [dataSource]='lstArea'
                  [fields]='fields' [showClearButton]="true"
                  [(ngModel)]="search.areaId" [ngModelOptions]="{standalone: true}"
                  [placeholder]="''" [allowFiltering]='true' (ngModelChange)= "Search()"
                  (filtering)='onFiltering($event,lstArea)'>
                </ejs-dropdownlist>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <div class="app-content">
      <ejs-splitter #horizontal width='100%'>
        <e-panes>
          <!-- <e-pane size='200px'  max='40%'>
            <ng-template #content>

              <div class="row">
                <div class="col">
                  <ejs-treeview #treeView
                    (nodeSelected)="nodeSelecting($event!)" [fields]='field'>
                  </ejs-treeview>
                </div>
              </div>
            </ng-template>
          </e-pane> -->
          <e-pane>
            <ng-template #content>
              <div class="list-grid">
                <ejs-grid #overviewgrid id='overviewgrid'
                  [dataSource]='data | async'
                  (dataStateChange)="dataStateChange($event!)" rowHeight='37'
                  headerHeight='42' [height]='configs.height()'
                  [allowPaging]='true' [pageSettings]='configs.pageSettings'
                  [enableHover]='true' (recordDoubleClick)="viewRecord($event!)"
                  [allowSorting]='true' allowResizing='true'
                  [locale]='configs.currentLang' [allowSelection]='true'
                  [showColumnChooser]='true'
                  [selectionSettings]='configs.selectionSettings'
                  [editSettings]='configs.editSettings'
                  (rowSelecting)="setButtonStatus($event!)"
                  (rowDeselecting)="setButtonStatus($event!)"
                  [allowFiltering]='true'>
                  <e-columns>
                    <e-column type='checkbox' [showInColumnChooser]='false'
                      [allowFiltering]='false' [allowSorting]='false' width='60'
                      textAlign="Center" [allowEditing]="false">
                    </e-column>
                    <e-column field='id' [showInColumnChooser]='false'
                      [visible]='false' headerText='ID' [isPrimaryKey]='true'
                      [allowEditing]="false">
                    </e-column>
                    <!--  -->

                    <!--  -->
                    <!-- <e-column field='code' headerTextAlign="Center"
                      textAlign="Left" headerText="Mã"
                      clipMode='EllipsisWithTooltip'></e-column> -->
                    <e-column field='name' headerTextAlign="Center"
                      textAlign="Left" headerText="Tên"
                      clipMode='EllipsisWithTooltip'></e-column>
                    <e-column field='groupName' headerTextAlign="Center"
                      textAlign="Left" headerText="Nhóm phần tử lương"
                      clipMode='EllipsisWithTooltip'></e-column>
                    <e-column field='isActive' textAlign="Center"
                      headerText="Trạng thái" clipMode='EllipsisWithTooltip'>
                      <ng-template #template let-data>
                        <div class="row-status full-width">
                          <div class="status-effect text-center"
                            *ngIf="data.isActive">
                            <span>Hiệu lực</span>
                          </div>
                          <div class="status-not-effect text-center"
                            *ngIf="!data.isActive">
                            <span>Không hiệu lực</span>
                          </div>
                        </div>
                      </ng-template>
                    </e-column>

                  </e-columns>
                </ejs-grid>
              </div>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>
  </div>
</div>

<!-- CONFIRM DELETE MODAL-->

