<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Trang chủ <i
              class="fa fa-angle-double-right" aria-hidden="true"> Hệ thống</i>
              <i
              class="fa fa-angle-double-right" aria-hidden="true"> Danh mục Module</i>
          </div>
        </div>
      </div>
    </div>
    <div class="app-content">
      

      <div class="card card-content">
        <div class="card-main-content">
          <div class="list-grid">
            <ejs-grid #overviewgrid id='overviewgrid'
              [dataSource]='data | async'
              (dataStateChange)="dataStateChange($event!)" rowHeight='45'
              headerHeight='52' [height]='configs.height()' [allowPaging]='true'
              [pageSettings]='configs.pageSettings' [enableHover]='true'
              (recordDoubleClick)="viewRecord($event!)" [allowSorting]='false'
              allowResizing='true' [locale]='configs.currentLang'
              [allowSelection]='true' [showColumnChooser]='true'
              [selectionSettings]='configs.selectionSettings'
              
              [editSettings]='configs.editSettings'
              (rowSelecting)="setButtonStatus($event!)"
              (rowDeselecting)="setButtonStatus($event!)">
              <e-columns>
               
                <e-column field='id' [showInColumnChooser]='false'
                  [visible]='false' headerText='ID' [isPrimaryKey]='true'
                  [allowEditing]="false"></e-column>
                <!--  -->
                <e-column width="40" eaderTextAlign="Center" textAlign="Center"
                  headerText="STT" clipMode="EllipsisWithTooltip">
                  <ng-template #template let-data>
                    <span>{{ formatStt(data.index) }}</span>
                  </ng-template>
                </e-column>
                <e-column field='code' headerTextAlign="Center" textAlign="Left"
                  headerText="Mã" clipMode='EllipsisWithTooltip'  width="80"></e-column>
                <e-column field='name' headerTextAlign="Center" textAlign="Left"
                  headerText="Tên" clipMode='EllipsisWithTooltip'></e-column>
                <!--  -->
                <e-column field='applicationId' [visible]='false'></e-column>
                <e-column field='appName' headerTextAlign="Center" width="150"
                  textAlign="Left" headerText="Tên ứng dụng"
                  clipMode='EllipsisWithTooltip'></e-column>
                <!--  -->
                <e-column field='price' headerTextAlign="Center" format='N0'
                  textAlign="Right" headerText="Giá" width="70"
                  clipMode='EllipsisWithTooltip'>
                </e-column>
                <e-column field='note' headerTextAlign="Center" textAlign="Left"
                  headerText="Ghi chú" clipMode='EllipsisWithTooltip'>
                </e-column>
                <e-column field='isActive' textAlign="Center" width="80"
                  headerText="Trạng thái" clipMode='EllipsisWithTooltip'
                  [filter]='filterStatus'>
                  <ng-template #template let-data>
                    <div class="row-status full-width">
                      <div class="status-effect text-center"
                        *ngIf="data.isActive">
                        <span>Hiệu lực</span>
                      </div>
                      <div class="status-not-effect text-center"
                        *ngIf="!data.isActive">
                        <span>Không hiệu lực</span>
                      </div>
                    </div>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- CONFIRM DELETE MODAL-->

