<div class="modal-overtime">
  <div class="modal-header-overtime">
    <div>
      <p>Đăng ký làm thêm giờ</p>
    </div>
    <div>
      <span (click)="maximize()"><i class="fa fa-window-maximize"
          aria-hidden="true"></i></span>
      <span class="pl-2" (click)="close()"><i class="fa fa-times"
          aria-hidden="true"></i></span>
    </div>
  </div>
  <div class="modal-content-overtime">
    <div class="row r-h">
      <div class="col b-r">
        <form name="editForm" [formGroup]="editForm" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div *ngIf="model.isAdd == true" class="form-group vertical">
                <label class="e-float-text required">Nhân viên</label>
                <ejs-multiselect id="employeeId" [mode]='mode'
                  [dataSource]='lstEmployee' [showClearButton]="true"
                  [fields]='fields' [(ngModel)]="model.EmpIds"
                  formControlName="employeeId" [placeholder]="''"
                  [allowFiltering]='true'
                  (filtering)='onFiltering($event, lstEmployee!)'>
                </ejs-multiselect>
                <span class="input-error"
                  *ngIf="editForm.get('employeeId')!.hasError('') && !editForm.get('employeeId')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
              <div *ngIf="model.isAdd != true" class="form-group vertical">
                <label class="e-float-text required">Nhân viên</label>
                <ejs-dropdownlist [dataSource]='lstEmployee' [fields]='fields'
                  [showClearButton]="true" [(ngModel)]="model.employeeId"
                  formControlName="employeeId" [placeholder]="''"
                  [allowFiltering]='true'
                  (filtering)='onFiltering($event, lstEmployee!)'>
                </ejs-dropdownlist>
                <span class="input-error"
                  *ngIf="editForm.get('employeeId')!.hasError('') && !editForm.get('employeeId')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">Ngày</label>
                <ejs-datepicker id="workingDay" formControlName="workingDay"
                  format="dd/MM/yyyy" [(ngModel)]="model.workingDay"
                  (keydown)="changeDate('workingDay')"
                  (blur)="changeDate('workingDay')!" placeholder=".../.../...">
                </ejs-datepicker>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">Giờ
                  bắt đầu</label>
                <ejs-timepicker [placeholder]='watermark'
                  formControlName="timeStart" [(ngModel)]="model.timeStart"
                  [format]='formatString' [step]='interval'>
                </ejs-timepicker>
                <span class="input-error"
                  *ngIf="editForm.get('timeStart')!.hasError('required') && !editForm.get('timeStart')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">Giờ
                  kết thúc</label>
                <ejs-timepicker [placeholder]='watermark'
                  formControlName="timeEnd" [(ngModel)]="model.timeEnd"
                  [format]='formatString' [step]='interval'>
                </ejs-timepicker>
                <span class="input-error"
                  *ngIf="editForm.get('timeEnd')!.hasError('required') && !editForm.get('timeEnd')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group vertical">
                <label class="e-float-text ">Lý do</label>
                <input type="text" class="form-control" formControlName="note"
                  [(ngModel)]="model.note">
             
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="modal-footer-overtime">
    <div class="col-3 "></div>
    <div class="col-9 p-l rigth-card ">
      <button (click)="choise()">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu</button>
      <button class="btn-cancel" (click)="close()">
        <i class="fa fa-times" aria-hidden="true"></i>
        Hủy</button>
    </div>
  </div>
</div>
<div class="modal-background"></div>
