<div class="core-header-params-container">
    <div class="container container-fluid no-padding no-margin">
        <div *ngFor="let row of rows" class="row mb15">
            <div style="margin-right: -10px;" *ngFor="let col of row" [class]="'col-md-' + col.flexSize">
                <ng-container *ngIf="!!!col.hidden">
                    <core-param-control [control]="col" [enableTimeZoneConverterForDateTimePeriodParameters]="enableTimeZoneConverterForDateTimePeriodParameters"></core-param-control>
                </ng-container>
            </div>
        </div>
    </div>
</div>