<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Lương <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Thiết lập
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/payroll/list/salarystructure'>Phiếu lương</span>
          </div>
        </div> <!-- toolbar -->
        <app-common-tools name="paycheck" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <div class="row">
        <div class="col-sm-2 b-r">
          <div>
            <ejs-treeview #listTreeObj id="default" (nodeSelected)="userSelecting($event!)">
            </ejs-treeview>
          </div>

        </div>
        <div class="col-sm-10 p-l">
          <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
            (dataStateChange)="dataStateChange($event!)" rowHeight='35' headerHeight='40'
            [height]='configs.height()' [allowPaging]='true' [pageSettings]='configs.pageSettings' [enableHover]='true'
            (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true' allowResizing='true'
            [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
            [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
            (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'>
            <e-columns>
              <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
                width='40' headerTextAlign="Center" textAlign="Center" [allowEditing]="false">
              </e-column>
              <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
                [allowEditing]="false">
              </e-column>
              <e-column field='name' headerTextAlign="Left" textAlign="Left" headerText="Tên hiển thị"
                clipMode='EllipsisWithTooltip' width='90'>
              </e-column>
              <e-column field='elementName' headerTextAlign="Left" textAlign="Left" headerText="Phần tử lương"
                clipMode='EllipsisWithTooltip'></e-column>
              <e-column [isPrimaryKey]='true' width="100" field='isVisible' textAlign="Center"
                headerText="Hiển thị trong bảng lương">
                <ng-template #template let-data>
                  <ejs-checkbox [ngModel]="data.isVisible" (change)="check(data, 'isVisible',$event)">
                  </ejs-checkbox>
                </ng-template>
              </e-column>
              <e-column field='orders' headerTextAlign="Center" width="120px" textAlign="Center" headerText="Sắp xếp"
                clipMode='EllipsisWithTooltip'></e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<gohr-confirm-modal id="ListElement">
  <ejs-grid #elementgrid id='elementgrid' [dataSource]='dataElement' rowHeight='37' headerHeight='42' height='550px'
    [allowPaging]='true' [pageSettings]='configs.pageSettings' [enableHover]='true'
    (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true' allowResizing='true' [locale]='configs.currentLang'
    [allowSelection]='true' [showColumnChooser]='true' [selectionSettings]='configs.selectionSettings'
    [editSettings]='configs.editSettings' (rowSelecting)="setButtonStatus($event!)"
    (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'>
    <e-columns>
      <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false' width='40'
        textAlign="Center" [allowEditing]="false">
      </e-column>
      <e-column width="40" eaderTextAlign="Center" textAlign="Center" headerText="STT" clipMode="EllipsisWithTooltip">
        <ng-template #template let-data>
          <span>{{ formatStt1(data.index) }}</span>
        </ng-template>
      </e-column>
      <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
        [allowEditing]="false">
      </e-column>
      <e-column field='groupName' width="120px" headerTextAlign="Center" textAlign="Left" headerText="Nhóm phần tử"
        clipMode='EllipsisWithTooltip'>
      </e-column>
      <e-column field='name' headerTextAlign="Center" textAlign="Left" headerText="Phần tử lương"
        clipMode='EllipsisWithTooltip'>
      </e-column>
    </e-columns>
  </ejs-grid>
  <div style="margin-top: 20px 0; float: right;">
    <button class="btn-choose" (click)="funcSave()">Lưu</button>
  </div>
</gohr-confirm-modal>
<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Bạn có chắc chắn muốn xóa?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default"
      (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>