cms-payroll-paycheck {
 .b-r {
     border-right: 1px solid #ccc;
     padding-top: 0.5rem!important;
 }
 .p-l {
    padding-left: 0px !important;
 }

}

#ListElement {
    width: 660px;
    height: 760px;
    .gohr-modal-body {
      margin: 5% 35% !important;
    }
    .gohr-modal-body {
      height: 760px !important;
      width: 660px !important;
    } 
  }
  
