cms-app-capacity {
    .group-box{
        padding-bottom: 0px !important;
        margin-top: 15px !important;
    }
    .img{
        max-height: 148px;
        
    }
    .l-h {
        line-height: 186px;
    }
}
