<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Khác <i
              class="fa fa-angle-double-right" aria-hidden="true"></i>Lương 3P
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/cms/profile/setting/organization'>Nhóm năng lực cá nhân</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>
    <div class="app-content">
      <ejs-splitter #horizontal width='100%'>
        <e-panes>
          <e-pane size='500px' min='30%' max='40%'>
            <ng-template #content>
              <div class="row">
                <div class="col">
                  <ejs-treeview #treeView (nodeSelected)="nodeSelecting($event!)"
                    [fields]='field'>
                  </ejs-treeview>
                </div>
              </div>
            </ng-template>
          </e-pane>
          <e-pane>
            <ng-template #content>
              <div class="card-center">
                <form name="editForm" [formGroup]="editForm" novalidate>
                  <div class="group-box" >
                    <div class="card-head">
                      <div class="icon-info histaff-icon"></div>
                      <label class="title">Thông tin</label>
                    </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group vertical">
                            <label class="e-float-text">Năng lực cha</label>
                            <input class="form-control" type="text" readonly
                              formControlName="parentName" [(ngModel)]="model.parentName">
                          </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group vertical">
                            <label class="e-float-text require">Mã năng lực</label>
                            <input class="form-control" type="text"
                              formControlName="code" [(ngModel)]="model.code">
                              <span class="input-error"
                              *ngIf="editForm.get('code')!.hasError('required') && !editForm.get('code')!.untouched">
                              Bắt buộc nhập
                            </span>
                            <span class="input-error "
                              *ngIf="editForm.get('code')!.hasError('incorrect') && !editForm.get('code')!.untouched">
                              Sai định dạng
                            </span>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group vertical">
                            <label class="e-float-text require">Tên năng lực</label>
                            <input class="form-control" type="text"
                              formControlName="name" [(ngModel)]="model.name">
                              <span class="input-error"
                              *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                              Bắt buộc nhập
                            </span>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group vertical">
                            <label class="e-float-text">Ghi chú</label>
                            <textarea class="form-control" 
                              formControlName="note" [(ngModel)]="model.note"></textarea>
                          </div>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>
  </div>
</div>
<!-- search employee -->
<cms-app-modalsemp id="cms-app-modalsemp">
</cms-app-modalsemp>
