.core-control-container {

    font-size: var(--typo-basic-font-size) !important;

    & .control-label {
        color: #848484;
    }

    &>div.hidden {
        display: none;
    }

    & label {
        color: #464646;
    }

    & label.required::after {
        content: "*";
        color: #FF040B;
    }

    & label.avatar-label {
        width: var(--size-file-uploader);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}