<div #container class="core-checklist-container">
    <input type="checkbox" class="expand-state" [(ngModel)]="expandState">
    <input class="value" [value]="value">
    <label [appTooltip]="textStringify" type="text" class="text form-control" [class.form-control-disabled]="disabled">
        <span>{{ (!!toggleAllValue ? (textCodeWhenAllSelected | translate: lang) : text) || placeholder }}</span>
        <div class="icon" (click)="toggleExpanded()">
            <i class=""></i>
        </div>
    </label>
    <div class="dropdown" [class.form-control-disabled]="disabled">
        <div class="toggle-all-wrapper">
            <core-checkbox [text]="toggleAllText" [(ngModel)]="toggleAllValue"
                (ngModelChange)="onToggleAllValueChange($event)" [disabled]="disabled"></core-checkbox>
        </div>
        <input class="search" type="text" placeholder="Search here..." [(ngModel)]="searchText"
            (ngModelChange)="onSearchTextChange($event)" autocomplete="false" [class.form-control-disabled]="disabled">
        <ul [class.form-control-disabled]="disabled">
            <li *ngFor="let option of localOptions; let index = index">
                <core-checkbox [text]="option.text" [(ngModel)]="option.checked"
                    (ngModelChange)="onItemValueChange(option, $event)" [disabled]="disabled"></core-checkbox>
            </li>
        </ul>
    </div>

</div>