.core-checklist-container {
    font-size: 13px;
    position: relative;
    display: block;

    --indicator-height: 0px;
    --search-bg-color: white;
    --search-border-color: #D1D1D1;
    --search-item-hover-bg: #358ccb;
    --search-item-hover-color: white;
    --dropdown-bg: lightyellow;
    --arrow-color: #358ccb;
    --height: var(--size-form-control-height);
    --max-z-index: 0;

    input.expand-state {
        display: none;
    }

    .value {
        display: none;
    }

    label.text {
        width: 100%;
        height: var(--height);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    label.text span {
        width: calc(100% - var(--height));
        overflow-x: hidden;
        text-overflow: ellipsis;
        color: inherit;
    }

    label.text div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 3px;
        top: 3px;
        width: calc(var(--height) - 6px);
        height: calc(var(--height) - 6px);
        background-color: #E9E9E9;
        border-radius: 3px;
        cursor: pointer;
    }

    label.text div.icon i {
        width: 28px;
        height: 28px;
        font-size: 28px;
        color: #848484;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="11" viewBox="0 0 20 11" fill="none"><path d="M1 1L9.86364 9.86364L18.7273 1" stroke="%23848484" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-repeat: no-repeat;
        margin-top: 20px;
        margin-left: 5px;
    }

    .dropdown {
        display: block;
        position: absolute;
        width: 100%;
        max-height: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        font-size: 13px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);
        transition: .25s linear;
        z-index: calc(var(--max-z-index) + 1);

        &>.toggle-all-wrapper {
            margin-left: 12px;
            background-color: var(--search-bg-color);
            position: sticky;
        }
    }

    .dropdown ul {
        padding-left: 6px;
    }

    .dropdown ul>li {
        cursor: pointer;
        padding: 6px 6px;
        transition: .25s linear;
    }

    .dropdown ul>li>label {
        width: 100%;
    }

    .dropdown ul>li:hover {
        background-color: var(--search-item-hover-bg);
        color: var(--search-item-hover-color);
        transition: .25s linear;
    }

    input.expand-state:checked~.dropdown {
        border: 1px solid #ced4da;
        margin-top: 2px;
        max-height: 400px;
        border-bottom-left-radius: .375rem;
        border-bottom-right-radius: .375rem;
        transition: .25s linear;
    }

    input.search {
        margin: 0;
        width: 100%;
        border: 0;
        border-bottom: 1px solid var(--search-border-color);
        background-color: var(--search-bg-color);
        position: sticky;
        top: 0px;
        height: 38px;
        padding: 6px 12px;
        font-size: 13px;
        z-index: calc(var(--max-z-index) + 1);
    }

    input.search:focus {
        outline: none;
    }
    


}