.core-reducer-icon-container {

    --background: var(--color-bg-core-org-tree);

    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: var(--background);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: var(--size-layout-block-cell-spacing);

    & .reducer-icon-wrapper {
        width: 30px;
        height: 30px;
        display: block;
        transform: rotate(0deg);
        transform-origin: center;
        transition: transform 1s ease-out;
        background: white;
        border-radius: 50%;

        & i {
            font-size: 30px;
            color: darkgray;
            cursor: pointer;
        }
    }

    .reduced {
        transform: rotate(180deg) !important;
        transition: transform 1s ease-out;
    }
}