<div class="app-main-content">
  <div class="app-container">

    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Lương <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Thiết lập
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/payroll/setting/paycheck'>Phiếu lương</span>
          </div>
        </div> <!-- toolbar -->
        <app-common-tools name="paycheck-edit" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <!--main-content -->
    <div class="app-content">
      <div class="card-center">
        <form name="editForm" [formGroup]="editForm" novalidate>
          <div class="group-box">
            <!-- title -->
            <div class="card-head">
              <div class="icon-info histaff-icon"></div>
              <label class="title">Thông tin </label>
            </div>
            <!--  -->
            <div class="row">
              <!-- Bang luong -->
              <div class="col-sm-6">
                <div class="form-group vertical">
                  <label class="e-float-text " for="typeName">Bảng lương</label>
                  <input class="form-control" type="text" formControlName="typeName" [(ngModel)]="model.typeName"
                    readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group vertical">
                  <label class="e-float-text" for="elementName">Bảng lương</label>
                  <input class="form-control" type="text" formControlName="elementName" [(ngModel)]="model.elementName"
                    readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group vertical">
                  <label class="e-float-text required" for="name">Tên hiển thị</label>
                  <input class="form-control" type="text" formControlName="name" [(ngModel)]="model.name">
                  <span class="input-error"
                    *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                    Bắt buộc nhập
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group vertical">
                  <label class="e-float-text" for="orders">Thứ tự</label>
                  <ejs-numerictextbox format="N0" locale="en" name="orders" formControlName="orders"
                    [(ngModel)]="model.orders" min="1" max="999999999">
                  </ejs-numerictextbox>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- search employee -->
<cms-app-modalsemp id="cms-app-modalsemp">
</cms-app-modalsemp>
<!-- CONFIRM BACK MODAL-->
<gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DIRECT MODAL-->
<gohr-confirm-modal id="confirm-direct-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary">Đồng
      ý</button>
    <button class="btn btn-default">Hủy</button>
  </div>
</gohr-confirm-modal>