<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hệ thống
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/system/approvetemplate'>Thiết lập Template phê duyệt</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>

    <div class="app-content">
      <div class="card card-content">
        <div class="card-main-content">
          <div class="list-grid">
            <ejs-grid #overviewgrid id='overviewgrid'
              [dataSource]='data | async'
              (dataStateChange)="dataStateChange($event!)" rowHeight='37'
              headerHeight='42' [height]='configs.height()-5'
              [allowPaging]='true' [pageSettings]='configs.pageSettings'
              [enableHover]='true' (recordDoubleClick)="viewRecord($event!)"
              [allowSorting]='false' allowResizing='true'
              [locale]='configs.currentLang' [allowSelection]='true'
              [showColumnChooser]='true'
              [selectionSettings]='configs.selectionSettings'
              [editSettings]='configs.editSettings'
              (rowSelecting)="setButtonStatus($event!)"
              (rowDeselecting)="setButtonStatus($event!)">
              <e-columns>
                <e-column type='checkbox' [showInColumnChooser]='false'
                  [allowFiltering]='false' [allowSorting]='false' width='60'
                  textAlign="Center" [allowEditing]="false">
                </e-column>
                <e-column field='id' [showInColumnChooser]='false'
                  [visible]='false' headerText='ID' [isPrimaryKey]='true'
                  [allowEditing]="false">
                </e-column>
                <e-column field='appLevel' headerTextAlign="Left" textAlign="Left"
                  headerText="CẤP PHÊ DUYỆT" clipMode='EllipsisWithTooltip'>
                </e-column>
                <e-column field='appTypeName' headerTextAlign="Left" textAlign="Left"
                  headerText="NGƯỜI PHÊ DUYỆT KẾ TIẾP" clipMode='EllipsisWithTooltip'>
                </e-column>
                <e-column field='employeeCode' headerTextAlign="Left" textAlign="Left"
                  headerText="MÃ NV" clipMode='EllipsisWithTooltip'>
                </e-column>
                <e-column field='employeeName' headerTextAlign="Left" textAlign="Left"
                  headerText="HỌ TÊN" clipMode='EllipsisWithTooltip'>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Bạn có chắc chắn muốn xóa dữ liệu?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>
