<div #container class="core-page-list-container" #corePageListContainer [ngStyle]="{ height: height + 'px' }">

    <core-page-header *ngIf="!!!hideHeader" [instanceNumber]="corePageListInstanceNumber" [title]="title" (buttonClick)="onCorePageHeaderButtonClick($event)"
        [hideButtonGroup]="!!seekerMode || !!hideButtonGroup"></core-page-header>

    <input #fileImport type="file" name="name"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        style="display: none;" (change)='inputFile($event)' />

    <!--
        Khi đã tính được chính xác chiều cao compositionHeight của core-composition
        Cần tính được chính xác chiều cao coreTableHeight của CoreTable
        Nếu phần top của composition cố định (ví dụ khi sử dụng CoreParamKit) thì phép trừ đơn giản
        Nhưng nếu phần top được customize, ta phải sử dụng extraManualOffset
    -->
    <core-composition [coreCompositionInstanceNumber]="corePageListInstanceNumber" [top]="topPlace" [left]="left" [main]="coreTable" [height]="compositionHeight">
    </core-composition>

    <router-outlet name="corePageListAux"></router-outlet>

</div>

<ng-template #topPlace>

    <ng-container *ngIf="!!showParamKit">
        <core-common-param-kit [datePeriodComparisonFor]="datePeriodComparisonFor"
            [enableTimeZoneConverterForDateTimePeriodParameters]="enableTimeZoneConverterForDateTimePeriodParameters"
            [datePeriodComparisonForLabelKey]="datePeriodComparisonForLabelKey"
            [statusInclusionFor]="statusInclusionFor" [statusInclusionForLabelKey]="statusInclusionForLabelKey"
            [statusOptionsApi]="statusOptionsApi" [hideDatePeriodComparison]="hideDatePeriodComparison" [hideStatusInclusion]="hideStatusInclusion"
            (onChange)="onParamKitValueChange($event)"></core-common-param-kit>
    </ng-container>

    <ng-container *ngTemplateOutlet="top">

    </ng-container>

</ng-template>

<ng-template #coreTable>

    <div [class.opacity0]="!!!geometricDone">

        <!--
            Khi đã tính được chính xác chiều cao compositionHeight của core-composition
            Cần tính được chính xác chiều cao coreTableHeight của CoreTable
            Nếu phần top của composition cố định (ví dụ khi sử dụng CoreParamKit) thì phép trừ đơn giản
            Nhưng nếu phần top được customize, ta phải sử dụng extraManualOffset

            Cần tính tableHeight như thế nào?
        -->
        <core-table #coreTableAlone width="100%" [height]="tableHeight" [rowHeight]="rowHeight || '46px'" [wrap]="wrap"
            [columns]="columns" [data]="list" [showCheckbox]="!!!hideCheck" headerHeight="60px" [showTools]="true"
            [tools]="inlineTools" (onToolClick)="onToolClick($event)" (onRowClick)="onRowClick($event)"
            (onRowDoubleClick)="onRowDoubleClick($event)" (onSelectedIdsChange)="onSelectedIdsChange($event)"
            (onSelectedDataChange)="onSelectedDataChange($event)" [frozen]="frozen || 1"
            (onSearching)="onSearching($event)" (onColumnCaptionClick)="onColumnCaptionClick($event)"
            [corePageListInstanceNumber]="corePageListInstanceNumber" [loading]="loading"
            [columnSearchDefaultOpen]="columnSearchDefaultOpen" [lazyLoading]="true"
            [headerWrap]="headerWrap"
            [headerFirstRowHeight]="headerFirstRowHeight"
            [noPaddingCell]="noPaddingCell"
            ></core-table>

        <div class="d-flex-end pagination-wrapper" #paginationContainer>
            <core-pagination-full [height]="paginationHeight" [currentPage$]="currentPage$" [pageSize$]="pageSize$"
                [pageCount]="pageCount" [innerBodyCount$]="innerBodyCount$" [pagination$]="pagination$"
                [loading]="loading" [fixedPageSize]="fixedPageSize" [background]="'#848484'"></core-pagination-full>

        </div>

    </div>

</ng-template>

<core-api-progress *ngIf="longApiRunning" (onClose)="onProgressWindowClose($event)"></core-api-progress>

<app-fullscreen-modal-loader *ngIf="prefetchLoading"></app-fullscreen-modal-loader>