cms-app-pospaper {
  .app-content {
    background-color: #fff;
  }
  .e-treeview .e-ul {
    padding: 0px 20px;
  }
  #default {
    margin-left: -30px;
  }
  .h100 {
    height: 100%;
  }
  .scr {
    height: 100%;
    overflow: scroll;
  }
}
#ListPaper {
  width: 600px;
  height: 60%;
}
.gohr-modal-body {
  margin: 5% 40% 0% !important;
}
.gohr-modal-body {
  height: 650px !important;
  width: 600px !important;
}
