@import url(https://rsms.me/inter/inter.css);

.common-tools-wrapper {

    .common-tools {

        //height: variables.$common-tools-height;
        font-family: 'Inter', sans-serif !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .common-tools-buttongroup {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 19.14px;
        }

        .common-tools-btn-disabled {
            pointer-events: none; //This makes it not clickable
            opacity: 0.6; //This grays it out to look disabled
        }

        li {
            display: inline-block;
            border-left: none;
            border-top: none;
            border-bottom: none;
            //height: variables.$common-tools-inner-height;
            padding-left: 15.86px;
            padding-right: 17.86px;
            color: #848484;
            font-family: Inter;
            font-weight: 400;
            font-size: 13px;
            line-height: 19.36px;
        }

        li:hover {
            //color: variables.$primary;
        }

        li:not(:last-child) {
            border-right: 1px solid #848484;

        }

        li:last-child {
            border-right: none;
        }

        div>span:last-child {
            margin-left: 7px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .btn-addnew-wrapper {
            width: 31px;
            height: 31px;
            //background-color: variables.$primary;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-addnew {
            font-size: 25px;
            color: #FFFFFF;
        }

        .pointer {
            cursor: pointer;
        }

    }
}

@media (max-width: 1200px) {
    .common-tools-wrapper ul {
        max-width: 375px;
        overflow: scroll;
    }   
}