.core-composition-container {

    --height: auto;
    --leftpart-width: 320px;
    --leftpart-left: 0px;
    --z-index: 100;

    box-sizing: border-box !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    height: var(--height);
    width: 100%;

    & .left {
        width: var(--leftpart-width);
        display: inline-block;
        position: relative;
        background-color: transparent;
        transition: width 0.5s ease-out;
        // Why * 2 ? padding-top + padding-bottom;
        height: calc(var(--height) - var(--size-core-page-header-height) - var(--size-layout-block-cell-spacing) * 2);

        &>.left-wrapper {
            width: var(--leftpart-width);
        }
    }

    & .reduced {
        overflow: hidden;
    }

    & .main {
        width: 100%;
        margin-left: var(--size-layout-block-cell-spacing);
        display: inline-block;
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
    }
}