<div #container class="core-composition-container" [ngStyle]="{ height: height + 'px'}">
    <div #leftRef class="left" *ngIf="left" [class.reduced]="reduced$.value" [ngStyle]="{ height: height + 'px'}">
        <div class="left-wrapper" [ngStyle]="{ height: height + 'px' }">
            <ng-container [ngTemplateOutlet]="left"></ng-container>
        </div>
    </div>
    <div #mainRef class="main" [class.ml0]="!!!left" [ngStyle]="{ height: height + 'px'}">
        <div #topRef class="top" *ngIf="top">
            <ng-container [ngTemplateOutlet]="top"></ng-container>
        </div>
        <ng-container [ngTemplateOutlet]="main || default"></ng-container>
    </div>
</div>

<ng-template #default>
    <app-threedots></app-threedots>
</ng-template>