<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Lương <i
              class="fa fa-angle-double-right" aria-hidden="true"></i>Nghiệp
            vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <span
              class="brackcrum-active">Tạm ứng lương</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>
    <div class="app-content">
      <div id='container'>
        <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()' height='100%' width='100%'>
          <e-panes>
            <e-pane size='270px' max='40%'>
              <ng-template #content>
                <div id='vertical_splitter' class="vertical_splitter">
                  <div>
                    <div class="content">
                      <cms-app-org></cms-app-org>
                    </div>
                  </div>
                  <div>
                    <div class="content content-checkbox">
                      <ejs-checkbox label="Cả nhân viên nghỉ việc" (change)="GetEmp($event!)" [checked]="false">
                      </ejs-checkbox>
                      <div class="bg-ter"></div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </e-pane>
            <e-pane>
              <ng-template #content>
                <div class="list-grid">
                  <ejs-grid #overviewgrid id='overviewgrid'
                    [dataSource]='data | async'
                    (dataStateChange)="dataStateChange($event!)" rowHeight='35'
                    headerHeight='40' [height]='configs.height()'
                    [allowPaging]='true' [pageSettings]='configs.pageSettings'
                    [enableHover]='true' (recordDoubleClick)="viewRecord($event!)"
                    [allowSorting]='true' allowResizing='true'
                    [locale]='configs.currentLang' [allowSelection]='true'
                    [showColumnChooser]='true'
                    [selectionSettings]='configs.selectionSettings'
                    [editSettings]='configs.editSettings'
                    (rowSelecting)="setButtonStatus($event!)"
                    (rowDeselecting)="setButtonStatus($event!)"
                    [allowFiltering]='true' >
                    <e-columns>
                      <e-column type='checkbox' [showInColumnChooser]='false'
                        [allowFiltering]='false' [allowSorting]='false' width='50'
                        textAlign="Center" [allowEditing]="false">
                      </e-column>
                      <e-column field='id' [showInColumnChooser]='false'
                        [visible]='false' headerText='ID' [isPrimaryKey]='true'
                        [allowEditing]="false">
                      </e-column>
                      <e-column field='employeeCode' headerTextAlign="Left"
                        textAlign="Left" headerText="Mã nhân viên"
                        clipMode='EllipsisWithTooltip' width='122'></e-column>
                      <e-column field='employeeName' headerTextAlign="Center"
                        textAlign="Left" headerText="Họ và tên"
                        clipMode='EllipsisWithTooltip'>
                      </e-column>
                      <e-column field='orgName' headerTextAlign="Center"
                      textAlign="Left" headerText="Phòng ban"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                      <e-column field='period' headerTextAlign="Center"
                      textAlign="Center" headerText="Kỳ công ứng"
                      clipMode='EllipsisWithTooltip' width="150"></e-column>
                      <e-column field='money' type='number' format='N0' headerTextAlign="Center"
                        textAlign="Right" headerText="Tiền ứng"
                        clipMode='EllipsisWithTooltip' width="180">
                      </e-column>
                      <e-column field='advanceDate' headerTextAlign="Center"
                        type="date"
                        [format]="{ type: 'date', format: 'dd/MM/yyyy' }"
                        textAlign="Center" headerText="Ngày ứng"
                        clipMode='EllipsisWithTooltip' width="126"></e-column>
                      <e-column field='signDate' headerTextAlign="Center"
                        type="date"
                        [format]="{ type: 'date', format: 'dd/MM/yyyy' }"
                        textAlign="Center" headerText="Ngày ký"
                        clipMode='EllipsisWithTooltip' width="126"></e-column>
                      <e-column field='signerName' headerTextAlign="Center"
                        textAlign="Left" headerText="Người ký"
                        clipMode='EllipsisWithTooltip' width="158">
                      </e-column>
                      <e-column field='signerPosition' headerTextAlign="Center"
                        textAlign="Left" headerText="Chức danh người ký"
                        clipMode='EllipsisWithTooltip' width="170">
                      </e-column>
                      <e-column field='statusId' textAlign="Center"
                        headerText="Trạng thái" clipMode='EllipsisWithTooltip' width="158">
                        <ng-template #template let-data>
                          <div class="row-status full-width">
                            <div class="status-warning text-center" *ngIf="data.statusId == 1">
                              <span>Chờ duyệt</span>
                            </div>
                            <div class="status-effect text-center" *ngIf="data.statusId == 2">
                              <span>Đã duyệt</span>
                            </div>
                            <div class="status-cancel text-center" *ngIf="data.statusId == 3">
                              <span>Từ chối</span>
                            </div>
                          </div>
                        </ng-template>
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
              </ng-template>
            </e-pane>
            <e-pane size='230px' [collapsible]='true'>
              <ng-template #content>
                <form name="editForm" [formGroup]="editForm" novalidate>
                  <div class="row pt-4">
                    <div class="col-sm-12">
                      <div class="form-group vertical">
                        <label class="e-float-text required" for="maxValue">Năm</label>
                        <ejs-dropdownlist id='yearId' [dataSource]='lstYear' formControlName="yearId"
                          [(ngModel)]="model.yearId" [fields]='fields' (change)="changeYear($event!)">
                        </ejs-dropdownlist>
                        <span class="input-error"
                          *ngIf="editForm.get('yearId')!.hasError('required') && !editForm.get('yearId')!.untouched">
                          Bắt buộc nhập
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group vertical">
                        <label class="e-float-text required" for="periodId">Kỳ
                          lương</label>
                        <ejs-dropdownlist id='periodId' [dataSource]='lstPeriodId' formControlName="periodId"
                          [(ngModel)]="model.periodId" [fields]='fields' (change)="changePeriod($event!)">
                        </ejs-dropdownlist>
                        <span class="input-error"
                          *ngIf="editForm.get('periodId')!.hasError('required') && !editForm.get('periodId')!.untouched">
                          Bắt buộc chọn
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </e-pane>
          </e-panes>
        </ejs-splitter>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRM DELETE MODAL-->
<input id="file" type="file" name="name"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  style="display: none;" (change)='inputFile($event!)' />
<gohr-confirm-modal id="confirm-import-modal">
  <div class="row full-width gohr-modal-header">
    Xác nhận Import
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmImport('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmImport('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>
<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Bạn có chắc chắn muốn xóa dữ liệu?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>
