<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Khác <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Lương 3P
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            Thiết lập
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/others/payroll3p/config3p/ranksystem'>Phân nhóm chức năng</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="groupposition3p" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data'
              rowHeight='37' headerHeight='42' [height]='configs.height()'
              [allowPaging]='true' [pageSettings]='configs.pageSettings'
              [enableHover]='true'
              [allowSorting]='true' allowResizing='true'
              [locale]='configs.currentLang' [allowSelection]='true'
              [showColumnChooser]='true'
              [selectionSettings]='configs.selectionSettings'
              [editSettings]='configs.editSettings'
              [allowFiltering]='true'>
              <e-columns>
                <e-column type='checkbox' [showInColumnChooser]='false'
                  [allowFiltering]='false' [allowSorting]='false' width='30'
                  textAlign="Center" [allowEditing]="false">
                </e-column>
                <e-column width="50" eaderTextAlign="Center" textAlign="Center"
                  headerText="STT" clipMode="EllipsisWithTooltip">
                  <ng-template #template let-data>
                    <span>{{ formatStt(data.index) }}</span>
                  </ng-template>
                </e-column>
                <e-column field='id' [showInColumnChooser]='false'
                  [visible]='false' headerText='ID' [isPrimaryKey]='true'
                  [allowEditing]="false">
                </e-column>
                <!--  -->
                <e-column field='code' headerTextAlign="Center" textAlign="Left"  width='150'
                headerText="Mã CD" ></e-column>

                <e-column field='name' headerTextAlign="Center" textAlign="Left"  width='150'
                  headerText="Chức danh" ></e-column>
                <e-column field='je' headerTextAlign="Center" textAlign="Left" width='50'
                  headerText="JE" >
                </e-column>
                <e-column field='salRankId' headerTextAlign="Center" textAlign="Left"
                headerText="Khung (Loại CV)"  width='100'>
                <ng-template #template let-data>
                  <ejs-dropdownlist id="salRankId" [dataSource]='lstRank'
                  [fields]='fields' [showClearButton]="true"
                  [(ngModel)]="data.salRankId" [ngModelOptions]="{standalone: true}"
                  [placeholder]="''" [allowFiltering]='true' (change)="ChangeData($event,data,'salRankId')"
                  (filtering)='onFiltering($event,lstRank)'>
                </ejs-dropdownlist>
                </ng-template>
              </e-column>
              <e-column field='nlcd' headerTextAlign="Center" textAlign="Left" width='120'
              headerText="Yêu cầu NLCN">
              <ng-template #template let-data>
                <ejs-numerictextbox format="N0" locale="en" name="nlcd" [(ngModel)]="data.nlcd" [ngModelOptions]="{standalone: true}"
                (change)="ChangeData($event,data,'nlcd')">
              </ejs-numerictextbox>
              </ng-template>
            </e-column>
            <e-column field='learningLevel' headerTextAlign="Center" textAlign="Left"
            headerText="Yêu cầu bằng cấp">
            <ng-template #template let-data>
              <ejs-dropdownlist id="learningLevel" [dataSource]='lstLearning'
              [fields]='fields' [showClearButton]="true"
              [(ngModel)]="data.learningLevel" [ngModelOptions]="{standalone: true}"
              [placeholder]="''" [allowFiltering]='true' (change)="ChangeData($event,data,'learningLevel')"
              (filtering)='onFiltering($event,lstLearning)'>
            </ejs-dropdownlist>
            </ng-template>
          </e-column>
                <!--  -->
              </e-columns>
            </ejs-grid>
    </div>
  </div>
</div>
