.app-language-changer-container {

    position: relative;

    &>.block {
        cursor: pointer;
        padding: 5px;
        background-color: var(--color-bg-core-table-highlighted);
        border-radius: 5px;
        color: white;
        height: 30px;
    }

    &>.dropdown {
        position: absolute;
        width: var(--size-left-bar-full-width);
        top: var(--size-form-control-height);
        right: 0px;
        height: 0px;
        overflow: hidden;
        transition: height .5s ease-out;
        
        color: var(--color-menu-level-1);

        &>ul {
            background-color: var(--color-bg-menu-level-2);

            &>li {
                
                height: var(--size-form-control-height);
                cursor: pointer;
                display: flex;
                align-items: center;

                &>i {
                    margin-right: var(--size-layout-block-cell-spacing);
                }
            }
        }
    }

    &>.dropdown.open {
        display: block;
        background-color: var(--color-bg-block);
        padding: var(--size-layout-block-cell-spacing);
        height: calc(var(--size-form-control-height) * 2 + var(--size-layout-block-cell-spacing) * 2);
        transition: height .5s ease-out;
        box-shadow: var(--decoration-box-shadow);
    }

}