<div #container class="core-tree-container">
    <div class="scroll-container">
        <input type="checkbox" [(ngModel)]="mobileMode">
        <input type="checkbox" [(ngModel)]="showNodes" id="showNodes">
        <input type="checkbox" [(ngModel)]="wrapLastLevel" id="wrapLastLevel">
        <input type="checkbox" [(ngModel)]="showCells" id="showCells">
        <ul class="tree" *ngFor="let root of data">
            <ng-container *ngTemplateOutlet="item; context: { item: root, templateContext: root }"></ng-container>
        </ul>
    </div>
</div>
<!-- recursive rendering 
    context: object obj
    let-x="something" => x = obj.something
-->

<!--
    Tree structor:
    ul.tree => li>span>a>section>div cardTemplate
    li:before used for above line
    li:after used for above left line within lonely children group
    span used for cards
    a used for nodes circles
    section use for short lines above middem items
-->

<ng-template #item let-tier="item.tree$Tier" let-title="item.tree$Title" let-children="item.tree$Children"
    let-hasChildren="item.tree$HasChildren" let-hasGrandchildren="item.tree$HasGrandchildren" let-context="templateContext">
    <li [class.has-children]="!!hasChildren"
        [class.has-children-but-no-grandchildren]="!!hasChildren && !!!hasGrandchildren" [attr.data-tier]="tier">
        <span [attr.data-tier]="tier">
            <a [attr.data-tier]="tier">
                <section [attr.data-tier]="tier">
                    <object (click)="onItemClickLocal(context)" [attr.data-tier]="tier">
                        <div [attr.data-tier]="tier">
                            <div *ngIf="!!!cardTemplate">{{ title }}</div>
                            <ng-container *ngIf="!!cardTemplate">
                                <ng-container *ngTemplateOutlet="cardTemplate; context: context"></ng-container>
                            </ng-container>
                        </div>
                    </object>
                </section>
            </a>
        </span>

        <ul *ngIf="children?.length">
            <ng-container *ngFor="let child of children">
                <ng-container *ngTemplateOutlet="item; context: { item: child, templateContext: child }"></ng-container>
            </ng-container>
        </ul>
    </li>
</ng-template>