.core-alert-container {

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }

        from {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    display: block !important;
    height: var(--size-header-height) !important;
    text-align: end !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;

    --z-index: 1;
    z-index: var(--z-index);

    .wrapper {
        display: block !important;
        position: relative !important;
        text-align: end !important;
        height: var(--size-header-height) !important;

        .alert-success,
        .alert-danger,
        .alert-info,
        .alert-warning {
            animation: fadeIn .5s ease-in-out;
        }
    }

}