

#confirm-tool-modal{
    .gohr-modal
    {
        .gohr-modal-body{
            margin: 5% 18% !important;
        }
        .btn-default, .btn-primary{
            width: 75px;
            height: 35px;
            margin-right: 30px;
        }


    }
    .btn-remove{
        display: none;
    }
    }



