<div class="core-control-no-grid-buffer-container">
    <div [formGroup]="form" [class.hidden]="!!control.hidden">

        <!-- START: LABEL SESSION-->
        <label [class]="'control-label' +  (required ? ' required' : '')" [attr.for]="control.field"
            [class.avatar-label]="control.uploadFileType==='IMAGE_AVATAR'">
            {{control.controlType!=='CHECKBOX' ? (control.label | translate: lang) : ''}}
        </label>
        <!-- START: LABEL SESSION-->

        <!-- START: FORM-CONTROL SESSION-->

        <ng-container *ngIf="control.controlType==='TEXTBOX'">
            <input *ngIf="control.type==='date'" [formControlName]="control.field" [type]="control.type"
                class="form-control" [readonly]="control.readonly" useValueAsDate>

            <input *ngIf="control.type==='number'" [formControlName]="control.field" [type]="control.type"
                class="form-control" [readonly]="control.readonly" [step]="control.step || '1'">

            <input *ngIf="control.type!=='date' && control.type!=='number'" [formControlName]="control.field"
                [value]="form.get(control.field)?.value | tableCell: control.pipe : lang" [type]="control.type"
                class="form-control" [readonly]="control.readonly">
        </ng-container>

        <ng-container *ngIf="control.controlType==='TEXTAREA'">
            <textarea [rows]="control.textareaRows?.toString() || '3'" [ngStyle]="{ height: 'unset' }"
                [formControlName]="control.field" class="form-control" [readonly]="control.readonly"></textarea>
        </ng-container>

        <ng-container *ngIf="control.controlType==='CHECKBOX'">
            <core-checkbox [formControlName]="control.field" [text]="control.label"
                [inputValue]="control.value"></core-checkbox>
        </ng-container>

        <ng-container *ngIf="control.controlType==='DATEPICKER'">
            <core-date-picker [formControlName]="control.field"></core-date-picker>
        </ng-container>

        <ng-container *ngIf="control.controlType==='DROPDOWN' && !!control.dropdownOptions$">
            <core-dropdown [formControlName]="control.field" [options$]="control.dropdownOptions$!" [shownFrom]="control.shownFrom!"
                [getByIdObject$]="control.getByIdObject$!"></core-dropdown>
        </ng-container>

        <ng-container *ngIf="control.controlType==='LIST'">
            <core-list [formControlName]="control.field" [options]="control.listOptions!"></core-list>
        </ng-container>

        <ng-container *ngIf="control.controlType==='CHECKLIST' && !!control.checklistOptions$">
            <core-checklist [formControlName]="control.field" [options$]="control.checklistOptions$!"
                [getByIdObject$]="control.getByIdObject$!"
                [shownFrom]="control.shownFrom!"
                ></core-checklist>
        </ng-container>

        <ng-container *ngIf="control.controlType==='SEEKER' && !!control.seekerSourceType">
            <core-form-control-seeker *ngIf="control.seekerSourceType==='EMPLOYEE_SEEK'"
                [formControlName]="control.field" [seekerSourceType]="control.seekerSourceType!"
                [boundFrom]="control.boundFrom!" [shownFrom]="control.shownFrom!" [alsoBindTo]="control.alsoBindTo!"
                [getByIdObject$]="control.getByIdObject$!"></core-form-control-seeker>
            <core-form-control-seeker *ngIf="control.seekerSourceType==='CONTRACT_SEEK'"
                [formControlName]="control.field" [seekerSourceType]="control.seekerSourceType!"
                [boundFrom]="control.boundFrom!" [shownFrom]="control.shownFrom!" [alsoBindTo]="control.alsoBindTo!"
                [getByIdObject$]="control.getByIdObject$!"></core-form-control-seeker>
            <core-form-control-seeker *ngIf="control.seekerSourceType==='WORKING_SEEK'"
                [formControlName]="control.field" [seekerSourceType]="control.seekerSourceType!"
                [boundFrom]="control.boundFrom!" [shownFrom]="control.shownFrom!" [alsoBindTo]="control.alsoBindTo!"
                [getByIdObject$]="control.getByIdObject$!"></core-form-control-seeker>
            <core-form-control-seeker *ngIf="control.seekerSourceType==='ORGANIZATION_UNIT_SEEK'"
                [formControlName]="control.field" [shownFrom]="control.shownFrom!"
                [seekerSourceType]="control.seekerSourceType!"
                [getByIdObject$]="control.getByIdObject$!"></core-form-control-seeker>

        </ng-container>

        <ng-container *ngIf="control.controlType==='FILEUPLOADER' && !!control.uploadFileType">
            <core-file-uploader [formControlName]="control.field" [uploadFileType]="control.uploadFileType"
                [fileDataControlName]="control.fileDataControlName!"
                [fileNameControlName]="control.fileNameControlName!"
                [fileTypeControlName]="control.fileTypeControlName!"></core-file-uploader>
        </ng-container>

        <!-- END: FORM-CONTROL SESSION-->

        <!-- START: ERROR SESSION-->
        <div *ngIf="errors!.length">
            <div class="form-control-error" *ngFor="let error of errors">{{ error.errorMessage | translate: lang }}
            </div>
        </div>
        <!-- END: ERROR SESSION-->

    </div>
</div>