cms-profile-timesheet {
  .pt-5 {
    padding-top: 39px !important;
  }
  .app-main-content .app-container .card-content .btn {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 7px;
    padding: 11px 28px 11px;
  }

  .e-row :hover {
    cursor: pointer;
  }
.tab-content{
  padding: 0px !important;
}
  .cell-green {
    color: rgb(61, 145, 61) !important;
    font-weight: bold;
  }

  .cell-red {
    color: rgb(192, 47, 47) !important;
    font-weight: bold;
  }
  .cell-red-1 {
    color: white !important;
    background-color: red !important;
    font-weight: bold;
  }
  .cell-orange {
    color: rgb(201, 108, 54) !important;
    font-weight: bold;
  }
  .treeview {
    background: #fff;
  }
  // css form group inline
  .form-inline {
    padding-top: 10px;
    font-family: "GoHR-font" !important;
    label.form-label {
      font-weight: normal !important;
      font-size: 14px !important;
      line-height: 18px !important;
      color: #3e4e64 !important;
    }
    .required::after {
      content: " *";
      color: red;
    }
  }
  //
}

.e-grid .e-frozenheader > .e-table,
.e-grid .e-frozencontent > .e-table,
.e-grid .e-frozenheader .e-virtualtable > .e-table,
.e-grid .e-frozencontent .e-virtualtable > .e-table {
  border: none;
}
.e-switch-wrapper,
.e-css.e-switch-wrapper {
  height: 20px;
  width: 55px;
  margin-left: auto;
  margin-right: 20px;
  align-self: center;
}
#lockVisible {
  height: 50px;
  width: 100px;
  position: absolute;
  right: 16px;
  z-index: 1;
}
.e-numeric.e-control-wrapper.e-input-group .e-input-group-icon {
  display: none;
}
