<div class="core-file-uploader-container">

    <div *ngIf="!!!verticalMode">

        <div class="row">
            <div [class]="!!hidePreview ? 'col-md-12' : 'col-md-6'">
                <input id="custom-file-input" #customFileInput class="custom-file-input" type="file" [accept]="accept"
                    (change)="handleInputChange($event)" (hover)="onHover()">
                <label id="file-input-label" for="custom-file-input">
                    <img *ngIf="uploadFileType==='IMAGE_AVATAR'"
                        [src]="!!!hidePreview ? (value ? (value | mapAvatarToServer) : defaultAvatar) : (preview ? preview : defaultAvatar)"
                        class="avatar-preview">
                    <div *ngIf="uploadFileType!=='IMAGE_AVATAR'">{{'EXISTING FILE...'}}</div>
                </label>
                <label id="file-input-label" for="custom-file-input">
                    <input type="file" *ngIf="uploadFileType!=='IMAGE_AVATAR'" [src]="value"
                        (change)="handleInputChange($event)" class="">
                </label>
            </div>
            <div class="col-md-2" *ngIf="!!!hidePreview">
                <div *ngIf="!!!loading">
                    <div class="selected-preview" *ngIf="preview">
                        <img [src]="preview" alt="selected-file">
                    </div>
                </div>
                <app-threedots *ngIf="!!loading"></app-threedots>
            </div>
            <div class="col-md-4 d-none" *ngIf="!!!hidePreview">
                <ng-container *ngIf="!!chosenFile">

                    <div>
                        <div>
                            {{ 'UI_CORE_FILE_UPLOADER_FILE_NAME' | translate: lang }}:
                        </div>
                        <div>
                            {{ chosenFile?.name }}
                        </div>
                    </div>

                    <div>
                        <div>
                            {{ 'UI_CORE_FILE_UPLOADER_FILE_TYPE' | translate: lang }}:
                        </div>
                        <div>
                            {{ chosenFile?.type }}
                        </div>
                    </div>

                    <div>
                        <div>
                            {{ 'UI_CORE_FILE_UPLOADER_FILE_SIZE' | translate: lang }}:
                        </div>
                        <div>
                            {{ chosenFile?.size }}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- <ng-container *ngIf="!!compressedSize">
            <div>
                <div>
                    {{ 'UI_CORE_FILE_UPLOADER_FILE_SIZE_COMPRESSED' | translate: lang }}:
                </div>
                <div>
                    {{ compressedSize }}
                </div>
            </div>
        </ng-container> -->
    </div>

    <div *ngIf="!!verticalMode" class="mt20">

        <div class="container container-fluid">

            <div class="row">
                <div class='col-md-12'>
                    <input id="custom-file-input" #customFileInput class="custom-file-input" type="file"
                        [accept]="accept" (change)="handleInputChange($event)" (hover)="onHover()">
                    <label id="file-input-label" for="custom-file-input">
                        <img *ngIf="uploadFileType==='IMAGE_AVATAR'"
                            [src]="!!!hidePreview ? (value ? (value | mapAvatarToServer) : defaultAvatar) : ((value && !!!preview) ? (value | mapAvatarToServer) : (preview ? preview : defaultAvatar))"
                            class="avatar-preview">
                        <div *ngIf="uploadFileType!=='IMAGE_AVATAR'">{{'EXISTING FILE...'}}</div>
                    </label>
                    <label id="file-input-label" for="custom-file-input">
                        <input type="file" *ngIf="uploadFileType!=='IMAGE_AVATAR'" [src]="value"
                            (change)="handleInputChange($event)" class="">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" *ngIf="!!!hidePreview">
                    <div *ngIf="!!!loading">
                        <div class="selected-preview" *ngIf="preview">
                            <img [src]="preview" alt="selected-file">
                        </div>
                    </div>
                    <app-threedots *ngIf="!!loading"></app-threedots>
                </div>
            </div>

            <div class="row d-none">
                <div class="col-md-12" *ngIf="!!!hidePreview">

                    <ng-container *ngIf="!!chosenFile">

                        <div class="row">
                            <div class='col-md-6'>
                                {{ 'UI_CORE_FILE_UPLOADER_FILE_NAME' | translate: lang }}:
                            </div>
                            <div class='col-md-6'>
                                {{ chosenFile?.name }}
                            </div>
                        </div>

                        <div class="row">
                            <div class='col-md-6'>
                                {{ 'UI_CORE_FILE_UPLOADER_FILE_TYPE' | translate: lang }}:
                            </div>
                            <div class='col-md-6'>
                                {{ chosenFile?.type }}
                            </div>
                        </div>

                        <div class="row">
                            <div class='col-md-6'>
                                {{ 'UI_CORE_FILE_UPLOADER_FILE_SIZE' | translate: lang }}:
                            </div>
                            <div class='col-md-6'>
                                {{ chosenFile?.size }}
                            </div>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="!!compressedSize">
                        <div class="row">
                            <div class='col-md-6'>
                                {{ 'UI_CORE_FILE_UPLOADER_FILE_SIZE_COMPRESSED' | translate: lang }}:
                            </div>
                            <div class='col-md-6'>
                                {{ compressedSize }}
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>

        </div>

    </div>

</div>