<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/sys/configsys/payrollformulasys'>Công thức tính
              lương</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- spliter -->
    <div class="app-content">
      <ejs-splitter #horizontal>
        <e-panes>
          <e-pane size='40%'>
            <ng-template #content>
              <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data'
                rowHeight='45' headerHeight='52' height='100%'
                [locale]='configs.currentLang' [allowSelection]='true'
                allowTextWrap='true' [textWrapSettings]='wrapSettings'
                (rowSelecting)="rowSelecting($event!)">
                <e-columns>
                  <e-column field='orders' textAlign="Center"
                    headerTextAlign="Center" width="50" headerText="STT">
                  </e-column>
                  <e-column field='name' textAlign="Left"
                    headerTextAlign="Center" headerText="Tên phần tử lương"
                    width="200">
                  </e-column>
                  <e-column field='formulaName' textAlign="Left"
                    headerTextAlign="Center" headerText="Công thức lương">
                  </e-column>
                  <e-column field='colName' [visible]='false'>
                  </e-column>
                </e-columns>
              </ejs-grid>
            </ng-template>
          </e-pane>
          <e-pane size='40%' [resizable]='false'>
            <ng-template #content>
              <div>
                <textarea [(ngModel)]="model.formulaName" id="textarea"
                  rows="30"></textarea>
              </div>
              
            </ng-template>
          </e-pane>
          <e-pane size='20%'>
            <ng-template #content>
              <div class="list-element" *ngFor="let item of elements">
                <p id="{{item.name}}" draggable="true"
                  (dragstart)="drag($event!)">
                  {{item.name}}
                </p>
              </div>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>

  </div>
</div>
