app-tenantcontract-edit{
  .m-t-30{
    margin-top: 30px;
  }
  .flagRenew{
    border: 1px solid green;
    padding: 5px 10px;
    color: green !important;
  }
  .upgrade
  {
    border: 1px solid gold;
    padding: 5px 10px;
    color: gold !important;
  }
}
