.fullscreen-modal-loader-container {

    --z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.3);
    z-index: var(--z-index);

    & .fullscreen-modal-loader-inner {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}