<link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap&subset=vietnamese"
    rel="stylesheet">


<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form">

            <div class="title">Quên mật khẩu</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate style="padding-bottom: 30px;">
                <!-- 
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email')!.hasError('required')">
                        Email là bắt buộc!
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email')!.hasError('email')">
                        Nhập đúng định dạng Email!
                    </mat-error>
                </mat-form-field> -->
                <div class="form-group">
                    <div class="e-float-input">
                        <input type="text" class="form-control" id="telephone" name="username" placeholder="Nhập số điện thoại"
                            [(ngModel)]="model.username" formControlName="username">
                        <label class="e-float-text telephone" for="telephone">Số điện thoại</label>
                        <span class="input-error" style="margin-left: 35px;"
                        *ngIf="forgotPasswordForm.get('username')!.hasError('required') && !forgotPasswordForm.get('username')!.untouched">
                        Trường Số điện thoại bắt buộc nhập
                    </span>
                    </div>
                </div>

                <div class="form-button">
                    <div class="container">
                        <div class="row register-form">
                            <button class="button return">
                                <a class="link" [routerLink]="'/auth/login'"> Quay lại</a>
                            </button>
                            <button type="button" class="button continue" data-toggle="modal" data-target="#myModal">
                                <a class="continue" (click)="changePass()">
                                    Tiếp tục
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
            </div>

        </div>

    </div>

</div>