<li #me [id]="'main-menu-' + item?.id" class="parent" [attr.data-level]="level" [class.reduced]="leftbarReduced"
    [class.expanded]="item.tree$Expanded" [class.highlighted]="item.tree$Highlighted">

    <div class="menu-item-wrapper" (click)="onClick($event, item)">
        <i [attr.data-level]="level" class="custom-icon-parent-right"
            *ngIf="(!!!leftbarReduced && !!hasChildren && !!!item.tree$Selected)"></i>
        <i [attr.data-level]="level" class="custom-icon-parent-down"
            *ngIf="(!!!leftbarReduced && !!hasChildren && !!item.tree$Selected)"></i>
        <i [attr.data-level]="level" class="custom-icon-child-right"
            *ngIf="!!!leftbarReduced && !!!hasChildren && !!item.tree$Selected && item.code !== 'MENU.DASHBOARD' && item.code !== 'MENU.HOME'"></i>
        &nbsp;
        <i [attr.data-level]="level" [class]="item.iconClass + ' module-icon'" [appTooltip]="caption"
            (click)="onModuleIconClick($event, item);false" *ngIf="!!item.iconClass"></i>

        <a #link [attr.data-level]="level" *ngIf="!leftbarReduced && hasChildren" class="has-submenu">
            <ng-container (click)="subArrowClicked($event);false"> <!--false is important here-->
                <span #subArrow *ngIf="(!!item.pictureBase64 || !!item.pictureUri)"
                    [class]="'img-span plus level' + level">
                    <img [src]="item.pictureBase64 || item.pictureUri" *ngIf="!!item.pictureBase64">
                </span>
                <span #subArrow *ngIf="!!!item.pictureBase64 && !!!item.pictureUri"
                    [class]="'plus level' + level"></span>
            </ng-container>

            <img *ngIf="(!!item.pictureBase64 || !!item.pictureUri)" [src]="item.pictureBase64 || item.pictureUri">

            {{ caption }}

        </a>
        <a [attr.data-level]="level" *ngIf="!leftbarReduced && !hasChildren" [routerLink]="item?.url"
            (click)="onClick($event, item)" [appTooltip]="caption">
            {{ caption }}
        </a>

    </div>

    <ul #children *ngIf="!!hasChildren && !!item.tree$Children!.length && !!!leftbarReduced" [ngStyle]="{ padding: 0}"
        [class.expanded]="item.tree$Expanded">
        <div>
            <app-item *ngFor="let child of item.tree$Children" [item]="child" [level]="level+1"
                (clicked)="onClick($event, child)"></app-item>
        </div>
    </ul>

</li>