.navigator-container {
    position: relative;
    display: block;

    .input-search-container {
        margin-left: 12px;
        margin-bottom: var(--size-layout-block-cell-spacing);
        width: calc(var(--size-left-bar-current-width) - var(--size-left-bar-the-second-icon-left) - var(--size-scrollbar-width) - 1px);
        border-radius: 20px;
        background-color: #E7E7E7;

        & .search-clear-wrapper {
            display: block;
            position: absolute;
            top: 5px;
            right: 20px;
            width: 24px;
            height: 24px;
            cursor: pointer;

            & i {
                font-size: 24px;
                color: #848484;
            }
        }
    }

    #navigator-search {
        font-family: "Open Sans", sans-serif !important;
        -webkit-appearance: none;
        appearance: none;
        font-size: 13px;
        width: 100%;
        max-width: 400px;
        height: 35px;
        border: none;
        border-radius: 20px;
        background-color: #E7E7E7;
        color: #000000;
        padding-left: 20px;
        position: relative;
        display: inline-block;
    }

    & .search-wrapper {
        padding: 5px;
        position: relative;
    }

    #main-menu {
        height: calc(97vh - var(--size-header-height) - 40px - var(--size-layout-block-cell-spacing) * 2); // 40px = search component
        overflow-x: hidden;
        overflow-y: auto;
        &>.histaff-logo{
            display: block;
            position: fixed;
            bottom: 0;
            left: 0;
            &>.img{
                margin-left: 20px;
                width: 100px;
                height: 40px;
                opacity: 0.5;
            }
        }
    }

    & ul {
        padding: 0px !important;
        padding-left: 0px !important;
    }

    .custom-item{
        &:hover{
            background-color: #EAF1FB;
        }
    }
}