.core-tree-grid-container {

    --tree-container-width: 300px; // to be recalculated
    --grid-total-width: 500px; // to be recalculated
    --square-color: darkgray;
    --square-size: 20px;
    --step-padding: 2rem;
    --max-tier: 1;
    --row-height: 50px;
    --edit-mode-row-height: 120px;
    --edit-mode-row-bg: #dff6dd;
    --border-size: 5px;
    --header-height: 100px;
    --header-cell-padding: 5px;
    --content-cell-padding: 5px;
    --header-border-size: 1px;

    [data-tier="1"] {
        --tier: 1;
    }

    [data-tier="2"] {
        --tier: 2;
    }

    [data-tier="3"] {
        --tier: 3;
    }

    [data-tier="4"] {
        --tier: 4;
    }

    [data-tier="5"] {
        --tier: 5;
    }

    [data-tier="6"] {
        --tier: 6;
    }

    [data-tier="7"] {
        --tier: 7;
    }

    [data-tier="8"] {
        --tier: 8;
    }

    [data-tier="9"] {
        --tier: 9;
    }

    [data-tier="10"] {
        --tier: 10;
    }

    [data-tier="11"] {
        --tier: 11;
    }

    [data-tier="12"] {
        --tier: 12;
    }

    [data-tier="13"] {
        --tier: 13;
    }

    [data-tier="14"] {
        --tier: 14;
    }

    [data-tier="15"] {
        --tier: 15;
    }

    [data-tier="16"] {
        --tier: 16;
    }

    [data-tier="17"] {
        --tier: 17;
    }

    [data-tier="18"] {
        --tier: 18;
    }

    [data-tier="19"] {
        --tier: 19;
    }

    [data-tier="20"] {
        --tier: 20;
    }

    [data-tier="21"] {
        --tier: 21;
    }

    [data-tier="22"] {
        --tier: 22;
    }

    [data-tier="23"] {
        --tier: 23;
    }

    [data-tier="24"] {
        --tier: 24;
    }

    & * {
        box-sizing: border-box;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    & .loading-surface {
        width: calc(100vw - var(--size-left-bar-current-width));
        height: 100vh; //calc(var(--content-container-height) - var(--size-core-page-header-height) - var(--header-height));
        position: fixed;
        top: 0;
        left: var(--size-left-bar-current-width);
        background-color: hsla(0, 50%, 100%, .5);
        z-index: 555;

        & .loading-wrapper {
            width: calc(100vw - var(--size-left-bar-current-width));
            height: 100vh; //calc(var(--content-container-height) - var(--size-core-page-header-height) - var(--header-height));
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    & .tree-grid-content {
        margin-top: var(--header-cell-padding);
        background-color: white;
        position: relative;

    }

    & .tree-grid-content.edit-mode-activated {
        & ul>li>span {

            &:not(.span-edit-mode-activated) {

                &:hover {
                    & .tree-item-tool {
                        display: none;
                    }
                }
            }

            &.span-edit-mode-activated {
                background-color: var(--edit-mode-row-bg);
                & *:not(.expand-toggler, object) {
                    background-color: var(--edit-mode-row-bg);
                }
            }
        }
    }

    & .tree-grid-header {
        display: block;
        white-space: nowrap;
        height: var(--header-height);
        background-color: var(--color-bg-main);

        &>* {
            display: inline-block;
            padding: var(--header-cell-padding);
            border: solid var(--header-border-size) white;
        }

        & .hidden {
            display: none;
        }

        & .tree-block-header {
            width: calc(var(--tree-container-width) + var(--step-padding));
            height: var(--header-height);
        }

        & .header-cell-div {
            width: 100%;
            height: calc(var(--header-height) - 2 * var(--header-cell-padding) - 2 * var(--header-border-size));
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    & ul {
        display: table;
        table-layout: fixed;
        padding-left: var(--step-padding);
        margin-bottom: 0px;
        animation: fade-in 1s ease-out;
    }

    & ul.collapsed {
        &:not(.root) {
            display: none;
        }
    }

    & li {
        display: block;
        white-space: nowrap;

        &>span {

            display: table-row;
            position: relative;

            & .tree-item-tool {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                height: var(--row-height);
                display: none;

                & .tree-item-tool-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    height: var(--row-height);
                }
            }

            & .tree-item {
                vertical-align: top;
                display: table-cell;

                & .tree-item-div {

                    width: calc(var(--tree-container-width) - (var(--tier) - 1) * var(--step-padding));
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    height: var(--row-height);

                    &>i {
                        color: var(--square-color);
                        cursor: pointer;
                        font-size: var(--square-size);
                        width: var(--square-size);
                        height: var(--square-size);
                    }

                    &>.expand-toggler {
                        position: absolute;
                        z-index: 1;
                        transform: translateX(-100%) rotate(0deg);
                        transition: 0.5s ease-out;
                    }

                    & object {
                        display: table-cell;
                        cursor: pointer;
                    }

                }

            }

            &:hover {
                & .tree-item-tool {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                &::after {
                    content: '';
                    display: block;
                    height: var(--row-height);
                    position: absolute;
                    width: calc(var(--tree-container-width) + var(--grid-total-width));
                    background-color: lightgrey;
                    opacity: .2;
                    z-index: 1;
                    top: 0;
                    left: 0;
                }
            }

            & .tree-grid-row-wrapper {

                display: inline-block;
                position: absolute;

                & .tree-grid-row {
                    display: inline-flex;
                    background-color: white;

                    & .tree-grid-cell {
                        display: table-cell;
                        height: var(--row-height);

                        & .cell-div {
                            cursor: pointer;
                            overflow-x: hidden;
                            overflow-y: visible;
                            padding: var(--content-cell-padding);
                            display: flex;
                            align-items: center;
                            height: var(--row-height);
                        }
                    }

                    & .tree-grid-cell.hidden {
                        display: none;
                    }

                }
            }

        }

        &>span.span-edit-mode-activated {
            height: var(--edit-mode-row-height);

            &:hover::after {
                display: none;
            }

            & .tree-item-tool {
                height: var(--edit-mode-row-height);
                display: flex;

                & .tree-item-tool-wrapper {
                    height: var(--edit-mode-row-height);

                    & i {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            & .tree-item .tree-item-div {
                height: var(--edit-mode-row-height);
            }

            & .tree-grid-row-wrapper {

                & .tree-grid-cell {
                    height: var(--edit-mode-row-height) !important;

                    & .cell-div {
                        height: var(--edit-mode-row-height) !important;
                    }

                }
            }

        }

    }

    & li.collapsed {

        & .tree-item-div .expand-toggler {
            transform: translateX(-100%) rotate(-90deg) !important;
            transition: 0.5s ease-out !important;
        }

    }


}