<div class="core-status-sticker-container">
    <!-- maxHeight: '46px' Đảm bảo rằng độ cao của sticker không vượt quá chiều cao dòng (sử dụng chính xác cho Lazy loading)-->
    <div [ngStyle]="{
        display: 'inline-block',
        backgroundColor: backgroundColor,
        color: color,
        width: '100%',
        height: height,
        lineHeight: height,
        textOverflow: 'ellipsis',
        whiteSpace: 'nowrap',
        maxHeight: '46px',
        borderRadius: '5px',
        padding: '0px 5px'
    }" [appTooltip]="code | translate: lang">
        {{ code | translate: lang }}
    </div>
</div>