<!-- nếu có khó khăn cần sửa style xin vui lòng trao đổi vs anh Tân già -->
<div class="modal-container" *ngIf="!!!normalMode" [ngStyle]="{
    overflowY: 'scroll'
}">
    <!-- --- -->


    <div #containerBigger class="modal-content">
        <div class="custom-header-popup">
            <i class="feather-x" (click)="onCancel()"></i>
            <div [ngStyle]="{ margin: '0px 24px' }">
                <core-page-header [title]="captionCode" [hideButtonGroup]="true"></core-page-header>
            </div>
        </div>

        <!-- nếu có khó khăn cần sửa style xin vui lòng trao đổi vs anh Tân già -->
        <div #container class="core-page-edit-container not-normal-mode" [ngStyle]="{
            overflow: 'visible'
        }">
            <!-- --- -->


            <core-form *ngIf="!!sections.length" [formName]="'form'" [submitText]="submitText"
                [showCaptionButton]="showCaptionButton" [leftInputSections]="leftInputSections"
                [leftInputSectionsFlexSize]="leftInputSectionsFlexSize" [inputSections]="sections" [mode$]="mode$"
                [customFormButtonItems]="customFormButtonItems" [checkError$]="checkError$"
                (onFormCreated)="onFormCreatedLocal($event)" (onSubmit)="onSubmit()"
                (onCancal)="onCancel()"></core-form>
        </div>
    </div>
</div>

<div #container class="core-page-edit-container" *ngIf="!!normalMode">
    <i class="feather-x" (click)="onCancel()"></i>
    <div [ngStyle]="{ margin: '0px 24px' }">
        <core-page-header [title]="captionCode" [hideButtonGroup]="true"></core-page-header>
    </div>


    <core-form *ngIf="!!sections.length" [formName]="'form'" [submitText]="submitText"
        [showCaptionButton]="showCaptionButton" [leftInputSections]="leftInputSections"
        [leftInputSectionsFlexSize]="leftInputSectionsFlexSize" [inputSections]="sections" [mode$]="mode$"
        [bottomTemplateRef]="bottomTemplateRef" [customFormButtonItems]="customFormButtonItems"
        [checkError$]="checkError$" (onFormCreated)="onFormCreatedLocal($event)" (onSubmit)="onSubmit()"
        (onCancal)="onCancel()"></core-form>
</div>

<app-fullscreen-modal-loader *ngIf="loading"></app-fullscreen-modal-loader>