.core-page-edit-container {

    --width: 50%;
    
    background-color: white;
    padding: 0, var(--size-layout-block-cell-spacing),var(--size-layout-block-cell-spacing),var(--size-layout-block-cell-spacing);
    width: var(--width);

    /*
    STYLE ĐÃ ĐƯỢC REVIEW BỞI ANH TÂN GIÀ, VUI LÒNG KHÔNG THAY ĐỔI NẾU KHÔNG TRAO ĐỔI
    &.not-normal-mode{
    max-height: 100vh;
    overflow: auto;
    }
    */
    
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    @media(max-width: 992px) {
        width: 100%;
    }
    &>.custom-header-popup{
        display: flex;
    }
    &>i{
        display: block;
        float: right;
        font-size: 24px;
        cursor: pointer;
        margin:10px; 
    }
    &> caption {
        display: block;
        width: 100%;
        color: #464646;
        font-weight: 400;
    }
    
}
.modal-content{
    --height: 100%;
    height: var(--height);
    border-radius: 10px;
    & i {
        display: block;
        float: right;
        font-size: 24px;
        cursor: pointer;
        margin:10px;
    }

    & caption {
        display: block;
        width: 100%;
        color: #000000;
        // font-weight: 700;
    }
}
.custom-header-popup{
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.captionText{
    margin-left: 24px;
}