<div #container class="app-online-users-container">

    <div class="online-users-header">
        <i class="feather-x" (click)="close()"></i>
    </div>

    <ul class="list-group list-group-flush">
        <ng-container *ngFor="let value of chatMembers; let index = index">
            <li>
                <img [src]="value.avatar | mapAvatarToServer" appImageErrorResolver />
                <div>
                    <span class="pointer"
                        onClick={toggleOpen}>{{value.sid}}</span>
                    <span [class]="value.status + ' btn-round-xss'"></span>
                </div>
            </li>
        </ng-container>
    </ul>

</div>