<div class="core-tags-container">

    <div class="existing">
        <div class="toggle-all-button" (click)="toggleCheckAll()">
            <div class="button-wrapper mr15">
                <i [class.feather-lock]="!!!checkAll" [class.feather-unlock]="!!checkAll" [class.disabled]="disabled"></i>
            </div>
        </div>
        <span *ngFor="let tag of tags; let i=index" [class.admin]="!!!disabled && !!!readonly"
            [class.disabled]="!!!tag.enabled" (click)="onToogleItem(tag)">
            <div class="d-flex-between">
                <div class="button-wrapper" [class.disabled]="disabled">
                    <core-button-vns [data]="tag.actionButton!" [disabled]="disabled" *ngIf="!!tag.actionButton"></core-button-vns>
                    <span *ngIf="!!!tag.actionButton">{{tag.text}}</span>
                </div>
            </div>
        </span>
    </div>

</div>