.core-tags-container {

    clear: both;
    white-space: nowrap;
    overflow-x: auto;

    &>.existing,
    &>.buttons,
    &>.search {
        display: inline-block;
    }

    & i.disabled {
        cursor: not-allowed !important;
    }

    &>.existing {

        &.button-wrapper {
            width: 48px;
            height: 48px;
            background-color: cornflowerblue;
            opacity: .5;
            line-height: 48px;
        }

        &>.toggle-all-button {
            display: inline-block;
            padding: 0px 10px;

            &>i {
                font-size: 20px;
            }
        }


        &>span {
            display: inline-block;
            color: white;
            background-color: cornflowerblue;
            padding: 10px;
            border-radius: 5px;
    
            &:not(:last-child) {
                margin-right: 3px;
            }
    
            & a {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 150px;
                white-space: nowrap;
    
                &:hover {
                    color: #e4405f !important;
                }
            }
        }

        &>span.disabled {
            color: #848484;
            background-color: transparent;
        }

    }

    &>button {
        display: block;
        margin-bottom: 25px;
    }

    &>input {
        margin-top: 25px;
    }

}

.tags-container.pressable {
    &>span {
        padding: 10px;
    }   
}