<div #container class="core-tabs-container" [ngStyle]="{ height: height + 'px'}">
    <div class="core-tabs-headers-line" [ngStyle]="{ height: headerLineHeight + 'px'}">
        <ul class="core-tabs-headers">
            <li *ngFor="let header of headers; let index = index" [class.active]="index === activeIndex"
                (click)="onClick(index)">{{ header | translate: lang }}</li>
        </ul>
        <div class="core-tabs-headers-line-tools" *ngIf="!!headerTools?.length">
            <div class="core-tabs-headers-line-tools-add" *ngIf="headerTools[activeIndex]?.showAdd" (click)="onToolItemClickLocal('add')"><label>Thêm</label></div>
            <div 
                class="core-tabs-headers-line-tools-approve" 
                [class.disabled]="headerTools[activeIndex]?.approveDisable$.value"
                *ngIf="headerTools[activeIndex]?.showApprove" 
                (click)="onToolItemClickLocal('approve')">
                    <label>Phê duyệt</label>
                </div>
                <div class="core-tabs-headers-line-tools-close" *ngIf="headerTools[activeIndex]?.showClose" (click)="onToolItemClickLocal('close')"><label></label></div>
        </div>
    </div>
    <ul class="core-tabs-contents" [ngStyle]="{ height: contentHeight + 'px'}">
        <li *ngFor="let content of contents; let index = index" [class.active]="index === activeIndex">
            <div>
                <ng-container [ngTemplateOutlet]="content"></ng-container>
            </div>
        </li>
    </ul>
</div>