.core-tabs-container {
    --color-header-active-border-bottom: #FF773E;
    --color-header: #000000;
    --color-header-active: #000000;
    //--height-core-tab-content : 489px; //???
    --height-core-tab-content: auto;

    * {
        box-sizing: border-box;
    }

    & ul {
        padding: 0px;
        margin: 0px;
    }

    .core-tabs-headers ul {
        width: 100%;
        overflow-y: scroll;
        height: 100px;
        position: relative;
        display: block;
    }

    ul.core-tabs-headers>li {
        display: inline-block !important;
        width: fit-content !important;
        max-width: 300px;
        text-overflow: ellipsis;
        height: 0px;
        line-height: var(--size-core-tabs-height) !important;
        color: var(--color-header);
        font-size: 16px !important;
        // padding: 0px 10px 0px 12px !important;
        margin-right: 30px;
        cursor: pointer !important;
        text-transform: uppercase;
    }

    ul.core-tabs-headers>li.active {
        border-bottom: 3px solid var(--color-bg-pagination-button);
        height: var(--size-core-tabs-height) !important;
        // font-weight: 450;
        color: var(--color-header-active);
    }

    ul.core-tabs-contents {
        position: relative;
        //height: var(--height-core-tab-content);
        overflow-x: auto;
        // transform: translateY(18px);
    }

    ul.core-tabs-contents>li {
        position: relative;
        top: 0;
        height: 0;
        display: none;
        width: 0;
        left: -100%;
        transition: .5s ease-out;
    }

    ul.core-tabs-contents>li.active {
        display: block;
        left: 0;
        height: unset;
        width: unset;
        transition: .5s ease-out;
    }

    .core-tabs-headers-line {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: white;
        border-radius: var(--decoration-block-border-radius);

        // transform: translateY(-15px);
    
    }

    .core-tabs-headers-line-tools {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    div[class^='core-tabs-headers-line-tools-'] {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-radius: 15px;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
    }

    div[class^='core-tabs-headers-line-tools-'].disabled {
        cursor: none;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
    }

    div[class^='core-tabs-headers-line-tools-'] label {
        cursor: pointer;
    }

    div[class^='core-tabs-headers-line-tools-'] label::before {
        font-family: "feather";
        margin-right: 2px;
    }

    div[class^='core-tabs-headers-line-tools-']:not(:last-child) {
        margin-right: 15px;
    }

    .core-tabs-headers-line-tools-add {
        width: 104px;
        background-color: #FFA427;

        & label::before {
            content: "\e9b1";
        }
    }

    .core-tabs-headers-line-tools-close {

        width: 14px;
        color: #848484 !important;
        background-color: white;

        & label::before {
            content: "\ea02";
        }

    }

    .core-tabs-headers-line-tools-approve {
        width: 104px;
        background-color: white;
        border: 1px solid #848484;

        label {
            color: #848484;
            font-weight: 400;
        }
    }

    @media (max-width: 576px) {
        .core-tabs-container {
            & ul.core-tabs-headers>li {
                display: block !important;
                padding-left: 0 !important;
            }
        }
    }

}