<app-threedots *ngIf="loading"></app-threedots>
<div #container class="core-dropdown-container" *ngIf="!loading">
  <input type="checkbox" class="expand-state" [(ngModel)]="expandState" />

  <div class="input-wrapper">
    <input class="value" [value]="value" />
    <label
      type="text"
      class="text form-control"
      [class.form-control-disabled]="disabled"
    >
      <span [appTooltip]="text">{{ !!loading ? "..." : (text | translate : lang) }}</span>
      <div class="icon" (click)="toggleExpanded()">
        <i class="chevron-down-icon"></i>
      </div>
    </label>
    <div
      class="clear-icon-wrapper"
      [class.d-none]="!!disabled || !!!value"
      (click)="onClickClear()"
    >
      <div
        class="flex-wrapper"
        [appTooltip]="'UI.CORE_CONTOL_COMMON_CLEAR' | translate : lang"
      >
        <i class="feather-x"></i>
      </div>
    </div>
  </div>

  <div
    class="dropdown"
    [class.form-control-disabled]="disabled"
    *ngIf="!!expandState"
  >
    <input
      class="search"
      type="text"
      [placeholder]="placeholderText"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchTextChange($event)"
      autocomplete="false"
      [class.form-control-disabled]="disabled"
      [disabled]="disabled"
    />
    <core-scroll
      [localOptions]="localOptions"
      [itemTemplate]="itemTemplateRef"
      [itemCount]="localOptions.length"
      [height]="400 - searchHeight"
      [childHeight]="itemHeight"
    ></core-scroll>
  </div>
</div>

<ng-template #itemTemplateRef let-context="context">
  <li
    (click)="onListItemClick(context)"
    [ngStyle]="{ height: itemHeight + 'px' }"
  >
    <label
      [ngStyle]="{
        width: '100%',
        overflow: 'hidden',
        textOverflow: 'ellipsis',
        whiteSpace: 'nowrap'
      }"
      [appTooltip]="context.text"
      >{{ context.text | translate : lang }}</label
    >
  </li>
</ng-template>
