<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Công <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Nghiệp
            vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <span class="brackcrum-active">Quản lý nghỉ
              phép</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="takeleave" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <div id='container'>
        <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()' height='100%' width='100%'>
          <e-panes>
            <e-pane size='270px' max='40%'>
              <ng-template #content>
                <div id='vertical_splitter' class="vertical_splitter">
                  <div>
                    <div class="content">
                      <cms-app-org></cms-app-org>
                    </div>
                  </div>
                  <div>
                    <div class="content content-checkbox bg-yellow">
                      <ejs-checkbox label="Cả nhân viên nghỉ việc" (change)="GetEmp($event!)" [checked]="false">
                      </ejs-checkbox>

                    </div>
                  </div>
                </div>
              </ng-template>
            </e-pane>
            <e-pane>
              <ng-template #content>
                <div class="list-grid">
                  <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
                    (dataStateChange)="dataStateChange($event!)" rowHeight='35' headerHeight='60'
                    [height]='configs.height()' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                    [enableHover]='true' [allowSorting]='true' [allowExcelExport]='true' allowResizing='true'
                    [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
                    [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
                    [allowFiltering]='true'>
                    <e-columns>
                      <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                        [isPrimaryKey]='true' [allowEditing]="false">
                      </e-column>
                      <e-column width="55" eaderTextAlign="Center" textAlign="Center" isFrozen="true" headerText="STT"
                        clipMode="EllipsisWithTooltip">
                        <ng-template #template let-data>
                          <span>{{ formatStt(data.index) }}</span>
                        </ng-template>
                      </e-column>
                      <e-column field='CODE' headerTextAlign="Center" textAlign="Center" headerText="Mã NV"
                        clipMode='EllipsisWithTooltip' width='120' isFrozen="true"></e-column>
                      <e-column field='FULLNAME' textAlign="Left" headerText="Họ và tên" clipMode='EllipsisWithTooltip'
                        isFrozen="true">
                      </e-column>
                      <e-column field='ORGNAME' textAlign="Left" headerText="Phòng ban" clipMode='EllipsisWithTooltip'
                        isFrozen="true">
                      </e-column>
                      <e-column field='POSNAME' textAlign="Left" headerText="Chức danh" clipMode='EllipsisWithTooltip'
                        isFrozen="true">
                      </e-column>
                      <e-column field='YEAR' headerTextAlign="Center" textAlign="Center" headerText="Năm"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='PREV_HAVE' headerTextAlign="Center" textAlign="Center"
                        headerText="Phép năm trước chuyển sang" clipMode='EllipsisWithTooltip' width="160">
                      </e-column>
                      <e-column field='CUR_HAVE' headerTextAlign="Center" textAlign="Center"
                        headerText="Phép được nghỉ trong năm" clipMode='EllipsisWithTooltip' width="158">
                      </e-column>
                      <e-column field='CUR_USED1' headerTextAlign="Center" textAlign="Center" headerText="Tháng 01"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED2' headerTextAlign="Center" textAlign="Center" headerText="Tháng 02"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED3' headerTextAlign="Center" textAlign="Center" headerText="Tháng 03"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED4' headerTextAlign="Center" textAlign="Center" headerText="Tháng 04"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>

                      <e-column field='CUR_USED5' headerTextAlign="Center" textAlign="Center" headerText="Tháng 05"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>

                      <e-column field='CUR_USED6' headerTextAlign="Center" textAlign="Center" headerText="Tháng 06"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED7' headerTextAlign="Center" textAlign="Center" headerText="Tháng 07"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED8' headerTextAlign="Center" textAlign="Center" headerText="Tháng 08"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED9' headerTextAlign="Center" textAlign="Center" headerText="Tháng 09"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED10' headerTextAlign="Center" textAlign="Center" headerText="Tháng 10"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED11' headerTextAlign="Center" textAlign="Center" headerText="Tháng 11"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED12' headerTextAlign="Center" textAlign="Center" headerText="Tháng 12"
                        clipMode='EllipsisWithTooltip' width="80">
                      </e-column>
                      <e-column field='CUR_USED' headerTextAlign="Center" textAlign="Center"
                        headerText="Số phép năm đã nghỉ trong năm" clipMode='EllipsisWithTooltip' width="150">
                      </e-column>
                      <e-column field='REMAIN' headerTextAlign="Center" textAlign="Center" headerText="Số phép còn lại"
                        clipMode='EllipsisWithTooltip' width="150">
                      </e-column>
                    </e-columns>
                  </ejs-grid>
                </div>
              </ng-template>
            </e-pane>
            <e-pane size='230px' [collapsible]='true'>
              <ng-template #content>
                <form name="editForm" [formGroup]="editForm" novalidate>
                  <div class="row pt-4">
                    <div class="col-sm-12">
                      <div class="form-group vertical">
                        <label class="e-float-text required" for="maxValue">Năm</label>
                        <ejs-dropdownlist id='yearId' [dataSource]='lstYear' formControlName="yearId"
                          [(ngModel)]="model.yearId" [fields]='fields' (change)="changeYear($event!)">
                        </ejs-dropdownlist>
                        <span class="input-error"
                          *ngIf="editForm.get('yearId')!.hasError('required') && !editForm.get('yearId')!.untouched">
                          Bắt buộc nhập
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </e-pane>
          </e-panes>
        </ejs-splitter>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRM DELETE MODAL-->