<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hệ thống <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/system/settingmap'>Thiết
              lập địa điểm chấm công</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="settingmap" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <!--  -->
    <div class="app-content">
      <ejs-splitter #horizontal>
        <e-panes>
          <e-pane size='270px' min='20%' max='40%' [collapsible]='true'>
            <ng-template #content>
              <cms-app-org></cms-app-org>
            </ng-template>
          </e-pane>
          <e-pane>
            <ng-template #content>
              <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
                (dataStateChange)="dataStateChange($event!)" rowHeight='37' headerHeight='42' [allowSorting]='true'
                [height]='configs.height()-5' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                [enableHover]='true' [allowSorting]='false' allowResizing='true' [locale]='configs.currentLang'
                [allowSelection]='true' [showColumnChooser]='true' [selectionSettings]='configs.selectionSettings'
                [editSettings]='configs.editSettings'>
                <e-columns>
                  <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                    [allowSorting]='false' width='40' textAlign="Center" [allowEditing]="false">
                  </e-column>
                  <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                    [isPrimaryKey]='true' [allowEditing]="false">
                  </e-column>
                  <e-column field='orgName' headerTextAlign="Left" textAlign="Left" headerText="Phòng ban"
                    clipMode='EllipsisWithTooltip' width="150"></e-column>
                  <e-column field='name' headerTextAlign="Left" textAlign="Left" headerText="Tên địa điểm"
                    clipMode='EllipsisWithTooltip' width="150"></e-column>
                  <e-column field='address' headerTextAlign="Left" textAlign="Left" headerText="Địa chỉ"
                    clipMode='EllipsisWithTooltip'></e-column>
                  <e-column field='ip' headerTextAlign="Left" textAlign="Left" headerText="Địa chỉ wifi"
                    clipMode='EllipsisWithTooltip' width="100"></e-column>
                  <e-column field='qRCode' textAlign="Center" headerText="In QR Code" clipMode='EllipsisWithTooltip'
                    width="100">
                    <ng-template #template let-data>
                      <div class="row-status full-width">
                        <div class="status-effect text-center" style="cursor: pointer;" (click)="PrintQR(data)">
                          <span>In QR</span>
                        </div>
                      </div>
                    </ng-template>
                  </e-column>
                </e-columns>
              </ejs-grid>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>
  </div>
</div>