.app-notification-header-container {
    $notificationAmount: #EB0910;
    position: relative;
    display: block;

    &>.bell-group {
        cursor: pointer;
        .bell-icon {
            margin: auto;
            position: relative;     
            width: 80%;
            font-size: 18px;
            
          }
          .notification-amount {
            position: absolute;
            top: 0%;
            right: 0%;
            left: 50%;
            width: 15px;
            height: 15px;
            background-color: $notificationAmount;
            color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: inherit;
            font-size: 9px;
            font-weight: 700;
            span {
              position: relative;
            }
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: #f72918;
              border-radius: 50%;
              z-index: 0;
              transform: scale(0);
              animation-duration: 800ms;
              animation-fill-mode: both;
            }
          }
    }
    &>.dropdown {
        display: none;
        position: absolute;
        width: var(--size-left-bar-full-width);
        top: var(--size-form-control-height);
        right: 0px;
        height: 0px;
        overflow: hidden;
        transition: height .5s ease-out;

        color: var(--color-menu-level-1);
        
    }

    &>.dropdown.open {
        /* display: block;
        background-color: var(--color-bg-block);
        //padding: var(--size-layout-block-cell-spacing);
        height: calc(var(--size-form-control-height) * 3 + var(--size-layout-block-cell-spacing) * 2);
        transition: height .5s ease-out;
        box-shadow: var(--decoration-box-shadow); */
        display: block;
        position: fixed;
        width: 375px;
        height: 87vh;
        top: 57px;
        right: 213px;
        background-color: #fff;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        
        font-weight: normal;
        color: #0e223d;
        transition: height .5s ease-out;
        
        /* .triangle-border {
          position:relative;
          //padding:15px;
          margin:20px 0 0;
          color:#333;
          background:#fff;
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          border-radius:10px;
        }
        .triangle-border:before {
          content:"";
          position:absolute;
          border-width:20px 20px 0;
          border-style:solid;
          border-color:#5a8f00 transparent;
          display:block;
          width:0;
        }
        .triangle-border.top:before {
          top:-20px; 
          bottom:auto;
          left:auto;
          right:40px;
          border-width:0 20px 20px;
        }
        .rtCalloutTopCenter::before{
          content: "";
          position: absolute;
          bottom: -20px;
          left: 40px;
          border-width: 20px 20px 0;
          border-style: solid;
          border-color: #5a8f00 transparent;
          display: block;
          width: 0;
        } */
        .title {
          font-weight: bold;
          font-size: 22px;
          //background: linear-gradient(270deg, #3d69f3 0%, #59a1ff 100%);
          color: #fff;
          //text-align: center;
          //height: 50px;
          //padding-top: 10px;
          padding: 10px 10px 5px 10px;
          width: 375px;
        }
        .border{
          margin-left: 10px;
          margin-right: 10px;
        }
        .menuItem{
          overflow-y: scroll;
          width: 375px;
          height: 79vh;
        
        .headerContent {
          padding: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
          cursor: pointer;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          i {
            font-size: 20px;
          }
        }
        .content {
          font-size: 12px;
          overflow: hidden;
        }
        .item {
          padding-left: 20px;
        }
        .emp {
          padding-top: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
          .link{
            padding-left: 10px;
          }
          .link:hover{
            cursor: pointer;
            text-decoration: underline;
            color: red($color: #000000);
          }
        }
      }
    }
}


